@font-face {
    font-family: 'wp-defender-font';
    src: url('../shared-ui/font/WPMU-DEV-App-Icons.eot?yhrhds');
    src: url('../shared-ui/font/WPMU-DEV-App-Icons.eot?#iefixyhrhds') format('embedded-opentype'),	 	 			 			   	  	 	 
    url('../shared-ui/font/WPMU-DEV-App-Icons.ttf?yhrhds') format('truetype'),
    url('../shared-ui/font/WPMU-DEV-App-Icons.woff?yhrhds') format('woff'),
    url('../shared-ui/font/WPMU-DEV-App-Icons.svg?yhrhds#WPMU-DEV-App-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

#toplevel_page_wp-defender .wp-menu-image:before {
    font-family: 'wp-defender-font';
    content: "\44";
}

.wd-menu-hide{
    display: none;
}


/* 350927-1463782069-ai */