/* In case Customize Setting Validation is not active */
div.customize-setting-validation-message.error {
	display: none;
}

.customize-posts-panel-notice {
	color: #555;
	background: #fff;
	padding: 12px 15px;
	border-top: 1px solid #ddd;
}

.customize-section-title > div.customize-setting-validation-message {
	border-top: 1px solid #ddd;
	margin-top: 0;
	margin-bottom: 0;
}
.customize-setting-validation-message .override-post-conflict {
	margin-left: 1ex;
	float: right;
}

#customize-posts-content-editor-pane {
	border-top: solid 1px #ddd;
	position: absolute;
	height: 300px;
	bottom: -301px;
	right: 0;
	left: 0;
	z-index: 20;
	background: #f1f1f1;
	display: block;
	-webkit-transition: bottom 0.2s;
	transition: bottom 0.2s;

	/* @todo This should have visibility:hidden to ensure accessible when closed. */
}

body.mce-fullscreen.customize-posts-content-editor-pane-open #customize-posts-content-editor-pane {
	top: 0;
}

body.customize-posts-content-editor-pane-open #customize-posts-content-editor-pane {
	bottom: 0;
}

#customize-posts-content-editor-pane .wp-editor-tools {
	padding-top: 5px;
	padding-right: 10px;
}

#customize-posts-content-editor-pane .wp-media-buttons {
	padding-left: 5px;
}

#customize-preview {
	height: auto;
}

body.customize-posts-content-editor-pane-open #customize-preview {
	bottom: 300px;
}

body.mce-fullscreen #customize-preview {
	bottom: 0;
}

body.mce-fullscreen.customize-posts-content-editor-pane-open div.mce-fullscreen {
	position: relative;
	left: 0;
}

#wp-customize-posts-content-editor-container {
	border-left: 0;
}

/* @todo Mobile support for rich text editor */

.wp-customizer .ui-autocomplete.wplink-autocomplete {
	z-index: 500110; /* originally 100110, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #wp-link-wrap {
	z-index: 500105; /* originally 100105, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #wp_editbtns,
.wp-customizer #wp_gallerybtns {
	z-index: 500020; /* originally 100020, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #TB_overlay,
.wp-customizer #TB_window {
	z-index: 500050;
}
.wp-customizer .mce-panel,
.wp-customizer .mce-tooltip {
	z-index: 500100 !important; /* originally 100100, but z-index of .wp-full-overlay is 500000 */
}

@media screen and ( max-width: 782px ) {
	body.customize-posts-content-editor-pane-open #customize-theme-controls [id^=accordion-panel-posts] ul.accordion-section-content {
		padding-bottom: 300px;
	}
}