@mixin headers($color, $size, $line-height, $weight) {
  color: $color; font-size: $size; line-height: $line-height; font-weight: $weight;
}
@mixin max-width($width) {
	max-width: $width; 
	margin: 0 auto;
}
@mixin opacity($dec, $int) {
  opacity:$dec; 
  filter:alpha(opacity=$int);
}
@mixin responsive($width) {
	@if $width == desktop { @media only screen and (min-width: $width-desktop) { @content; } }
	@else if $width == tablet { @media only screen and (min-width: $width-tablet) { @content; } }
	@else if $width == phone { @media only screen and (min-width: $width-phone) { @content; } }
}
@mixin rounded($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
     -moz-box-shadow: $x $y $blur $spread $color;
          box-shadow: $x $y $blur $spread $color;
}
@mixin shadow-inset($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: inset $x $y $blur $spread $color;
     -moz-box-shadow: inset $x $y $blur $spread $color;
          box-shadow: inset $x $y $blur $spread $color;
}
@mixin transition($property) {
  -webkit-transition: $property .2s ease;
     -moz-transition: $property .2s ease;
       -o-transition: $property .2s ease;
          transition: $property .2s ease;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@mixin linear-gradient($from, $to) {
  /* Fallback for sad browsers */
  background-color: $to;
  /* Mozilla Firefox */
  background-image:-moz-linear-gradient($from, $to);
  /* Opera */
  background-image:-o-linear-gradient($from, $to);
  /* WebKit (Chrome 11+) */
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
  /* WebKit (Safari 5.1+, Chrome 10+) */
  background-image: -webkit-linear-gradient($from, $to);
  /* IE10 */
  background-image: -ms-linear-gradient($from, $to);
  /* W3C */
  background-image: linear-gradient($from, $to);
}