// Site palatte variables
$white: #fff;
$black: #000;
$lightgrey: #ccc;
$grey: #aaa;
$darkgrey: #777;
$charcoal: #333;
$lightblue: #0088d0;
$blue: #2020b6;
$red: #0ff;
$orange: orange;

$width-phone: 320px;
$width-tablet: 720px;
$width-desktop: 960px;

// global variables
$font-stack: "Open Sans", Helvetica, Arial, sans-serif;
$body-bg-color: $white;
$site-bg-color: $white;
$sidebar-left-bg-color: #eee;
$sidebar-right-bg-color: #eee;
$menu-lightbox: #000;
$default-border-color: #ededed;
$dark-border-color: #666;
$light-border-color: #ccc;

// DefaultLink & Font variables
$error-bg-color: #FEE;
$error-font-color: red;
$error-border-color: red;
$default-link-color: #2020b6;
$default-link-hover: orange;
$default-font-color: #444;
$light-header-color: #757575;
$dark-header-color: #636363;
$sidebar-header-color: #2020b6;

// Buttons variables
$button-bg-color: #2020b6;
$button-bg-hover: orange;
$button-font-color: $white;
$button-font-hover: $white;

// Header variables
$site-header-bg-color: #bbb;
$site-header-font-color: #757575;
$site-header-link-color: #515151;
$site-header-link-hover: $white;

// Navigation variables
$header-navigation-link-color: $white;
$header-navigation-link-hover: #2020B6;

// Main Navigation variables
$main-navigation-menu-bg: #666;
$main-navigation-link-color: #5e5e5e;
$main-navigation-link-hover: #21759b;
$main-navigation-link-color1: #eee;
$main-navigation-link-hover1: #eee;
$main-navigation-link-color2: #eee;
$main-navigation-link-hover2: #eee;
$main-navigation-link-color3: #eee;
$main-navigation-link-hover3: #eee;
$main-navigation-link-color4: #eee;
$main-navigation-link-hover4: #eee;
$main-navigation-bg-color1: #555;
$main-navigation-bg-hover1: #2020B6;
$main-navigation-bg-color2: #777;
$main-navigation-bg-hover2: #2020B6;
$main-navigation-bg-color3: #999;
$main-navigation-bg-hover3: #2020B6;
$main-navigation-bg-color4: #aaa;
$main-navigation-bg-hover4: #2020B6;

// Entry content variables
$content-entry-title-color: #2020b6;
$content-default-header-color: orange;
$content-table-td-color: #757575;
$content-table-th-color: #636363;
$content-table-border: 1px solid #ededed;

// Footer Variables
$cta-banner-bg-color: #2020B6;
$cta-banner-font-color: $white;
$cta-banner-link-color: $white;
$cta-banner-link-hover: orange;
$footer-bg-color: #555;
$footer-font-color: $white;
$footer-link-color: $white;
$footer-link-hover: #2020B6;
$copyright-font-color: #aaa;
$copyright-link-color: #aaa;
$copyright-link-hover: $white;

// Plugin Variables
$slider-caption-bg-color: #2020B6;
$slider-caption-font-color: $white;

///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Media Queries -- 600 pixels ////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Main Navigation variables
$main-navigation-600-menu-bg: #555;
$main-navigation-600-link-color1: $white;
$main-navigation-600-link-hover1: $white;
$main-navigation-600-link-color2: $white;
$main-navigation-600-link-hover2: $white;
$main-navigation-600-link-color3: $white;
$main-navigation-600-link-hover3: $white;
$main-navigation-600-link-color4: $white;
$main-navigation-600-link-hover4: $white;
$main-navigation-600-bg-color1: none;
$main-navigation-600-bg-hover1: #2020B6;
$main-navigation-600-bg-color2: #888;
$main-navigation-600-bg-hover2: #2020B6;
$main-navigation-600-bg-color3: #888;
$main-navigation-600-bg-hover3: #2020B6;
$main-navigation-600-bg-color4: #888;
$main-navigation-600-bg-hover4: #2020B6;

///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Media Queries -- 960 pixels ////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////