/* styles for the ACF site options page */
#customize-control-fc_default_layout input { display: none; }
#customize-control-fc_default_layout input[type="radio"] { width: 100%; height: 100%; display: inline-block; margin: 0 5px 5px 0; content: " "; border: 0 solid transparent; border-radius: 0; background: transparent; box-shadow: none; }
#customize-control-fc_default_layout input[type="radio"]:checked { outline: 2px solid #999; background: transparent; }
#customize-control-fc_default_layout label { width: 120px; height: 107px; display: inline-block; margin: 0 6px 10px 0; padding: 0; }
#customize-control-fc_default_layout label:nth-child(2) { background: url('../img/layouts/c.gif') no-repeat; background-size: contain; }
#customize-control-fc_default_layout label:nth-child(3) { background: url('../img/layouts/cs.gif') no-repeat; background-size: contain; }
#customize-control-fc_default_layout label:nth-child(4) { background: url('../img/layouts/sc.gif') no-repeat; background-size: contain; }
#customize-control-fc_default_layout label:nth-child(5) { background: url('../img/layouts/scs.gif') no-repeat; background-size: contain; }
#customize-control-fc_logo_height_control, #customize-control-fc_logo_width_control { width: 50%; float: left; clear: none; }
#customize-control-fc_header_height_control, #customize-control-fc_header_width_control { width: 50%; float: left; clear: none; }

.theme_layouts li { width: 80px; }
.theme_layouts input { display: none; }
.theme_layouts input[type="radio"]+img{ width: 100%; border: 2px solid transparent; }
.theme_layouts input[type="radio"]:checked+img{ border: 2px solid #ccc; }

.acf-field.fc_option_list { padding: 0 12px !important; border: 0 !important; margin-bottom: 10px; }
	.acf-field.fc_option_list.step1 { margin-left: 30px!important; }
	.acf-field.fc_option_list.step2 { margin-left: 60px!important; }
.acf-field-message.fc_option_list { padding: 10px 12px 0 12px !important; }
.acf-field.clear { clear: both!important; }
.custom-checkbox { margin-left: 30px!important; }

/* adding dashicons to the admin */
i.mce-i-icon { font: 400 20px/1 dashicons; padding: 0; vertical-align: top; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-left: -2px; padding-right: 2px }

/* admin notices */
.error.fc-admin-notice { background-color: #fcc; }
.updated.fc-admin-notice { background-color: #cfc; }
.update-nag.fc-admin-notice { background-color: #ffc; }