/*!
 * FC Main Styles
 *
 * Copyright 2016, FlagstaffConnection.com
 */

@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

// Import other files
@import "variables.scss";
@import "reset.scss";
@import "mixins.scss";

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Repeatable patterns %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Form fields, general styles first */
button, input, textarea { border: 1px solid $light-border-color; @include rounded(3px); font-family: inherit; padding: 6px; }
button, input { line-height: normal; }
textarea { font-size: 100%; overflow: auto; vertical-align: top; }

/* Reset non-text input types */
input[type="checkbox"], input[type="radio"], input[type="file"], input[type="hidden"], input[type="image"], input[type="color"] { border: 0; @include rounded(0); padding: 0; }

/* Buttons */
input[type="submit"], input[type="button"], input[type="reset"], article.post-password-required input[type=submit], li.bypostauthor cite span { padding: 7px 20px; font-size: 14px; line-height: 1; font-weight: normal; color: $button-font-color; background-color: $button-bg-color; border: 0; @include rounded(4px); text-transform: uppercase; vertical-align: top; }
button, input[type="submit"], input[type="button"], input[type="reset"] { cursor: pointer;  }
button[disabled], input[disabled] { cursor: default; }
button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, article.post-password-required input[type=submit]:hover { color: $button-font-hover; background-color: $button-bg-hover; }
button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active { color: $button-font-color; background-color: $button-bg-color; border: 0; }

/* Responsive images */
.entry-content img, .comment-content img, .widget img { max-width: 100%; /* Fluid images for posts, comments, and widgets */ }
img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] { height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }
img.size-full, img.size-large, img.header-image, img.wp-post-image { max-width: 100%; height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

/* Make sure videos and embeds fit their containers */
embed, iframe, object, video { max-width: 100%; }
.entry-content .twitter-tweet-rendered { max-width: 100% !important; /* Override the Twitter embed fixed width */ }

/* Images */
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
img.alignleft { margin: 12px 24px 12px 0; }
img.alignright { margin: 12px 0 12px 24px; }
img.aligncenter { margin-top: 12px; margin-bottom: 12px; }
.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image { @include rounded(3px); @include shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.2)); }
.wp-caption { max-width: 100%; /* Keep wide captions from overflowing their container. */ padding: 4px; }
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption { font-style: italic; font-size: 12px; line-height: 2; color: $light-header-color; }
img.wp-smiley, .rsswidget img { border: 0; @include rounded(0); box-shadow: none; margin-bottom: 0; margin-top: 0; padding: 0; }
.entry-content dl.gallery-item { margin: 0; }
.gallery-item a, .gallery-caption { width: 90%; }
.gallery-item a { display: block; }
.gallery-caption a { display: inline; }
.gallery-columns-1 .gallery-item a { max-width: 100%; width: auto; }
.gallery .gallery-icon img { height: auto; max-width: 90%; padding: 5%; }
.gallery-columns-1 .gallery-icon img { padding: 3%; }

/* Navigation */
.site-content nav { clear: both; line-height: 2; overflow: hidden; }
#nav-above { padding: 24px 0; }
#nav-above { display: none; }
.paged #nav-above { display: block; }
.nav-previous, .previous-image { float: left; width: 50%; }
.nav-next, .next-image { float: right; text-align: right; width: 50%; }
.nav-single + .comments-area, #comment-nav-above { margin: 48px 0; }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Basic structure %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Body, links, basics */
html { font-size: 62.5%; }
body { background-color: $body-bg-color; font-size: 14px; font-family: $font-stack; text-rendering: optimizeLegibility; color: $default-font-color; }
body.custom-font-enabled { font-family: $font-stack; }
body .site { padding: 0; overflow: hidden;
		@include responsive(tablet) { margin: 0 auto; overflow: hidden; } }
body #main { 
		@include responsive(tablet) { @include max-width($width-desktop); width: 100%; position: relative; display: table; } }
a { outline: none; color: $default-link-color; text-decoration: none; }
a:hover { color: $default-link-hover; text-decoration: underline; }
#wpadminbar { position: fixed!important; }

/* Assistive text */
.assistive-text, .site .screen-reader-text { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }
.main-navigation .assistive-text:hover, .main-navigation .assistive-text:active, .main-navigation .assistive-text:focus { background: $white; border: 2px solid $charcoal; @include rounded(3px); clip: auto !important; color: $black; display: block; font-size: 12px; padding: 12px; position: absolute; top: 5px; left: 5px; z-index: 100000; /* Above WP toolbar */ }

/* Page structure */
.site { padding: 0 24px; background-color: $site-bg-color; }
.site-content { @include max-width($width-desktop);
		@include responsive(tablet) { width: 66%; vertical-align: top; }  }
.site-content #content { padding: 15px;
		@include responsive(tablet) { padding: 0; } }

/* Header */
.site-header { padding: 15px 0; position: fixed; top: auto; left: 0; width: 100%; padding: 0; background: $site-header-bg-color; z-index: 1000; } 
	.site-header .site-title, .site-header .site-description { text-align: left; margin: 0; padding: 0 2%; line-height: 1.2; }
	.site-header .site-title a, .site-header .site-description a { color: $site-header-link-color; display: inline-block; text-decoration: none; }
	.site-header .site-title a:hover, .site-header .site-description a:hover { color: $site-header-link-hover; }
	.site-header .site-title { font-size: 24px; line-height: 1.3; }
	.site-header .site-title a { margin: 15px 0 0 0; padding: 0; font-size: 24px; font-style: italic; font-weight: bold; line-height: 10px; }
	.site-header .site-title a span { display: inline-block; }
	.site-header .site-title a img { height: 100%; width: 100%; }
	.site-header .site-description { font-weight: normal; font-size: 13px; line-height: 1.8; color: $site-header-font-color; }
	.site-header .site-logo { position: relative; z-index: 1002; padding: 0; width: 96%; margin: 0 auto 0 0;
			@include responsive(tablet) { width: 100%; @include max-width($width-desktop); } }

/* Searchform Styles */
.searchform { position: relative; }
	.searchform .s { padding: 6px 10% 6px 3%; width: 87%; font-size: 11px; font: 400 1.1rem/1.3 'Oswald', Helvetica, Arial, sans-serif; @include rounded(3px); }
	.searchform .searchsubmit { border: 0; box-shadow: none; height: 28px; width: 27px; color: $grey; background: transparent; font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif; position: absolute; top: 0; right: 0; }
	.searchform .searchsubmit:hover { background: transparent; color: $darkgrey; text-shadow: 1px 1px 1px $grey; }
	
/* Header Navigation Styles */
.header-navigation { position: relative; width: auto; z-index:1003; }
	.header-navigation ul { list-style-type: none; text-align: right; }
	.header-navigation li { margin-left: 2px; padding-left: 5px; border-left: $white solid 1px; display: inline-block; }
	.header-navigation li:first-child { border-left: 0; }
	.header-navigation a { color: $header-navigation-link-color; text-decoration: none; }
	.header-navigation a:hover { color: $header-navigation-link-hover; text-decoration: underline; }
	.header-navigation .menu-header-menu-container { float: right; }

/* Main Navigation Styles */
.right-arrow { float: right; background:none!important; border-left:0!important; padding:5px 5px 0 0!important; display:block;
		@include responsive(tablet) { display: none !important; } }
.right-arrow:hover { background:none!important; border-left:0!important; padding:5px 5px 0 0!important; }
.menu-lightbox { display:none; background:$menu-lightbox; @include opacity(0.8, 80); position:absolute; top:auto; left:0; min-width:100%; min-height:10000px; z-index:999; }
.menu-spacer { width: 100%; padding: 0; margin: 0; line-height: 10px; text-indent: -9999em; margin-top: 0; 
		@include responsive(tablet)	{ width: 85%; } }
.main-navigation { position: static; margin: 0; padding: 0; width: 100%; z-index:1002; text-align: center;
		@include responsive(tablet)	{ position: fixed; top: auto; left: 0; background: $main-navigation-600-menu-bg; } }
	.main-navigation li { margin-top: 24px; font-size: 12px; line-height: 1.4;
			@include responsive(tablet) { display: inline-block; text-decoration: none; } }
	.main-navigation li a {
			@include responsive(tablet) { display: inline-block; text-decoration: none; } }
	.main-navigation a { color: $main-navigation-link-color; }
	.main-navigation a:hover { color: $main-navigation-link-hover; }
	.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul { display: none; 
			@include responsive(tablet)	{ position: static; display: inline-block !important; text-align: left; width: 100%; } }
	.main-navigation ul.nav-menu.toggled-on { display: inline-block; }
	.main-navigation .nav-menu { position: absolute; left:0; width: 100%; height: 100%;
			@include responsive(tablet)	{ position: relative; @include max-width($width-desktop); } }
	.main-navigation ul { height: 100%; background: $main-navigation-menu-bg;
			@include responsive(tablet) { height: auto; background: none; margin: 0; text-indent: 0; } }
	.main-navigation ul, .main-navigation ul, .main-navigation ul ul  { list-style-type:none; margin: 0; padding: 0; width: 100%; }
	.main-navigation ul a { display: block; text-decoration: none; text-align: left; font-size: 13px; font-weight: 600; }
	.main-navigation ul li { margin-top: 1px;
			@include responsive(tablet) { margin: 0; padding: 0; position: relative; } }
	.main-navigation ul li:last-child { @include responsive(tablet)	{ border-right: 0; } }
	.main-navigation ul li ul { @include responsive(tablet)	{ display: none; margin: 0; padding: 0 !important; position: absolute; top: 100%; left: -5px; z-index: 1; } }
	.main-navigation ul li:hover > ul { @include responsive(tablet)	{ border-left: 0; display: block !important; padding: 0 !important; } }
	.main-navigation ul li ul li { @include responsive(tablet) { margin: 0; padding: 0; border: 0; } }
	.main-navigation ul li ul li ul { @include responsive(tablet) { top: 0; left: 100%; } }
	.main-navigation ul li a { background: $main-navigation-bg-color1; color: $main-navigation-link-color1; padding: 6px;
			@include responsive(tablet) { background: $main-navigation-600-bg-color1; color: $main-navigation-600-link-color1; border-bottom: 0; padding: 16px 10px; line-height: 1; text-transform: uppercase; white-space: nowrap; }
			@include responsive(desktop) { padding: 15px; font-size: 15px; } }
	.main-navigation ul li a:hover { background: $main-navigation-bg-hover1; color: $main-navigation-link-hover1;
			@include responsive(tablet) { background: $main-navigation-600-bg-hover1; color: $main-navigation-600-link-hover1; } }
	.main-navigation ul li ul li a { background: $main-navigation-bg-color2; color: $main-navigation-link-color2; padding-left: 20px; text-transform: none; font-weight: 300;
			@include responsive(tablet) { background: $main-navigation-600-bg-color2; color: $main-navigation-600-link-color2; border-bottom: 1px solid $light-border-color; display: block !important; padding: 10px 20px; width: 180px; white-space: normal; text-transform: none; } }
	.main-navigation ul li ul li a:hover { background: $main-navigation-bg-hover2; color: $main-navigation-link-hover2;
			@include responsive(tablet) { background: $main-navigation-600-bg-hover2; color: $main-navigation-600-link-hover2; } }
	.main-navigation ul li ul li ul li a { background: $main-navigation-bg-color3; color: $main-navigation-link-color3; padding-left: 30px;
			@include responsive(tablet) { background: $main-navigation-600-bg-color3; color: $main-navigation-600-link-color3; padding: 7px; } }
	.main-navigation ul li ul li ul li a:hover { background: $main-navigation-bg-hover3; color: $main-navigation-link-hover3;
			@include responsive(tablet) { background: $main-navigation-600-bg-hover3; color: $main-navigation-600-link-hover3; } }
	.main-navigation ul li ul li ul li ul li a { background: $main-navigation-bg-color4; color: $main-navigation-link-color4; padding-left: 40px;
			@include responsive(tablet) { background: $main-navigation-600-bg-color4; color: $main-navigation-600-link-color4; padding: 7px; } }
	.main-navigation ul li ul li ul li ul li a:hover { background: $main-navigation-bg-hover4; color: $main-navigation-link-hover4;
			@include responsive(tablet) { background: $main-navigation-600-bg-hover4; color: $main-navigation-600-link-hover4; } }
	.menu-toggle:active, .menu-toggle.toggled-on { box-shadow: none; border: 0; border-bottom: 1px solid $grey; }
	
	.main-navigation h3.menu-toggle span { text-indent: -9999em; text-align: left; display: block; height: 0; width: 33px;
		@include responsive(tablet)	{ text-indent: 0; } }
	.main-navigation h3.menu-toggle { color: $black; font-size: 20px; line-height: 33px; text-align: center; text-decoration: none; display: inline-block; width: auto; padding: 0; margin: 0; border: 0; box-shadow: none; cursor: pointer; position: absolute; top:10px; right: 0; z-index: 1003;
			@include responsive(tablet)	{ display: none; color: $white; background: $lightgrey; line-height: 33px; padding: 0 15px; margin-left: 5px; text-indent: 0; } }
	.main-navigation h3.menu-toggle:hover { color: $black; }
	.main-navigation .menu-main { width: 100%; height: 100%; }
	
	.main-navigation h3.my-account-toggle span { text-indent: -9999em; text-align: left; display: block; height: 0; width: 33px;
		@include responsive(tablet)	{ text-indent: 0; } }
	.main-navigation h3.my-account-toggle { color: $black; font-size: 20px; line-height: 33px; text-align: center; text-decoration: none; display: inline-block; width: auto; padding: 0; margin: 0; border: 0; box-shadow: none; cursor: pointer; position: absolute; top:10px; right: 40px; z-index: 1003;
			@include responsive(tablet)	{ display: none; color: $white; background: $lightgrey; line-height: 33px; padding: 0 15px; margin-left: 5px; text-indent: 0; } }
	.main-navigation h3.my-account-toggle:hover { color: $black; }
	.main-navigation .menu-my-account { width: 100%; height: 100%;
			@include responsive(tablet) { display: none; } }
	.main-navigation .menu-my-account ul { display: none; position: absolute; left: 0; width: 100%; height: 100%; }

/* Banner */
section[role="banner"] { margin-bottom: 48px; }

/* Temmplate Layouts */
body.template_c #main { width: 100%; }
body.template_c .site-content { width: 96%;
		@include responsive(tablet) { width: 100%; padding: 2% 0; } }

body.template_cs .site-content { display: table-header-group;
		@include responsive(tablet) { width: 70%; padding: 2%; display: table-cell; } }
body.template_cs .sidebar-right { display: table-footer-group; background: $sidebar-right-bg-color;
		@include responsive(tablet) { width: 30%; padding: 2%; display: table-cell; } } 

body.template_sc .sidebar-left { display: table-footer-group; background: $sidebar-left-bg-color;
		@include responsive(tablet) { width: 30%; padding: 2%; display: table-cell; }  } 
body.template_sc .site-content { display: table-header-group;
		@include responsive(tablet) { width: 70%; padding: 2%; display: table-cell; } }

body.template_scs .sidebar-left { display: table-footer-group; background: $sidebar-left-bg-color;
		@include responsive(tablet) { width: 25%; padding: 2%; display: table-cell; }  } 
body.template_scs .site-content { display: table-header-group;
		@include responsive(tablet) { width: 50%; padding: 2%; display: table-cell; } }
body.template_scs .sidebar-right { display: table-footer-group; background: $sidebar-right-bg-color;
		@include responsive(tablet) { width: 25%; padding: 2%; display: table-cell; } } 
	
/* Blog Temmplate Layouts */
body.blog article a { font-weight: 700; }
body.blog article .thumbnail-excerpt a { font-weight: 400; }
body.blog, body.search, body.archive, body.single { .widget-area { width: auto; } }
body.template-front-page, body.single-attachment, body.full-width { .site-content { @include responsive(tablet) { width: 100%; } }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Home page CTA Areas %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.entry-other { display: table-caption; }

.text_content { text-align: center; @include max-width($width-desktop); width: 96%; margin: 20px 2%;border-top: $darkgrey dashed 1px; }
	.text_content:first-child { border-top:0; }
	.text_content h3 { text-align: left; color: $blue; font-size: 20px; font-weight: 700; text-transform: uppercase; }
	.text_content h4 { text-align: left; color: $grey; font-size: 20px; font-weight: 400; }
	.text_content p { text-align: left; line-height: 1.7; }

.cta_boxes { text-align: center; @include max-width($width-desktop); width: 96%; margin: 20px 2%; text-align: left; }
	.cta_boxes h3 { text-align: left; color: $blue; font-size: 20px; font-weight: 700; text-transform: uppercase; }
	.cta_boxes h4 { text-align: left; color: $grey; font-size: 20px; font-weight: 400; }
	.cta_boxes li { width: 100%; margin-right: 2%; display: inline-block; position: relative; vertical-align: top; @include rounded(5px); }
	.cta_boxes li:last-child { margin-right: 0; }
	.cta_boxes li .image_box { @include rounded(10px); position: relative; }
		.cta_boxes.large_circles li .image_box { @include rounded(50%); height: 100%; }
	.cta_boxes li .image_box img { max-width: 100%; @include rounded(0); vertical-align: middle; }
	.cta_boxes li .image_box .cta_link { position: absolute; bottom: 10px; right: 10px; }
	.cta_boxes .icon { margin: 10px; padding: 10px; }
	.cta_boxes .text_block { padding: 10px; text-align: left; line-height: 1.7; } 

.blog_content { text-align: center; @include max-width($width-desktop); width: 96%; margin: 20px 2%; text-align: left; }
	.blog_content h3 { text-align: left; color: $blue; font-size: 20px; font-weight: 700; text-transform: uppercase; }
	.blog_content h4 { text-align: left; color: $grey; font-size: 20px; font-weight: 400; }
	.blog_content li { width: 100%; margin-right: 2%; display: inline-block; position: relative; vertical-align: top; }
	.blog_content li:last-child { margin-right: 0; }
	.blog_content li .image_box img { max-width: 100%; @include rounded(0); vertical-align: middle; }
	.blog_content .icon { margin-top: 80px; }
	.blog_content p { text-align: left; line-height: 1.7; } 

.gallery_content { text-align: center; @include max-width($width-desktop); width: 96%; margin: 20px 2%; text-align: left; }
	.gallery_content h3 { text-align: left; color: $blue; font-size: 20px; font-weight: 700; text-transform: uppercase; }
	.gallery_content h4 { text-align: left; color: $grey; font-size: 20px; font-weight: 400; }
	.gallery_content p { text-align: left; line-height: 1.7; } 

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Main content and comment content %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.entry-meta { clear: both; }
.entry-header { margin-bottom: 24px; }
.entry-header img.wp-post-image { margin-bottom: 24px; }
	.entry-page-image { @include responsive(tablet) { float: right; margin-bottom: 0; width: 47.916666667%; } }
.entry-header .entry-title { margin-bottom: 0; @include headers($content-entry-title-color, 21px, 1.5, bold);
		@include responsive(tablet) { font-size: 22px; }  }
.entry-header .entry-title a { text-decoration: none; }
	.entry-credits { color: $default-font-color; }
	.entry-credits a { color: $default-link-color; text-decoration: underline; outline: none; }
	.entry-credits a:hover { color: $default-link-hover; text-decoration: underline; }
.entry-header .entry-format { margin-top: 24px; font-weight: normal; }
.entry-header .comments-link { margin-top: 24px; font-size: 13px; line-height: 1.8; color: $light-header-color; }
.comments-link a, .entry-meta a { color: $light-header-color; }
.comments-link a:hover, .entry-meta a:hover { color: $default-link-hover; }

article.sticky .featured-post { border-top: 4px double $default-border-color; border-bottom: 4px double $default-border-color; color: $light-header-color; font-size: 13px; line-height: 3.6; margin-bottom: 24px; text-align: center; }
.entry-content, .entry-summary, .mu_register { line-height: 1.7; }

.entry-content h1, .comment-content h1, .entry-content h2, .comment-content h2, .entry-content h3, .comment-content h3, .entry-content h4, .comment-content h4, .entry-content h5, .comment-content h5, .entry-content h6, .comment-content h6 { margin: 24px 0; line-height: 1.7; }
.entry-content h1, .comment-content h1 { @include headers($content-default-header-color, 21px, 1.5, bold); }
.entry-content h2, .comment-content h2 { @include headers($content-default-header-color, 18px, 1.5, bold); }
.entry-content h3, .comment-content h3 { @include headers($content-default-header-color, 16px, 1.5, bold); }
.entry-content h4, .comment-content h4 { @include headers($content-default-header-color, 14px, 1.5, bold); }
.entry-content h5, .comment-content h5 { @include headers($content-default-header-color, 13px, 1.5, bold); }
.entry-content h6, .comment-content h6 { @include headers($content-default-header-color, 12px, 1.5, bold); }

.entry-content h3, .comment-content h3 { margin: 0 0 14px 0; line-height: 1; font-weight: 600; }
.entry-content h3 b, .comment-content h3 strong { font-weight: 600; }
.entry-content img { box-shadow: none; }
.entry-content p, .entry-summary p, .comment-content p, .mu_register p { margin: 0 0 24px; line-height: 1.7; }
.entry-content ol, .comment-content ol, .entry-content ul, .comment-content ul, .mu_register ul { margin: 0 0 24px; line-height: 1.7; }
.entry-content ul ul, .comment-content ul ul, .entry-content ol ol, .comment-content ol ol, .entry-content ul ol, .comment-content ul ol, .entry-content ol ul, .comment-content ol ul { margin-bottom: 0; }
.entry-content ul, .comment-content ul, .mu_register ul { list-style: disc outside; }
.entry-content ol, .comment-content ol { list-style: decimal outside; }
.entry-content li, .comment-content li, .mu_register li { margin: 0 0 0 36px; }
.entry-content blockquote, .comment-content blockquote { margin-bottom: 24px; padding: 0 24px; font-style: italic; }
.entry-content blockquote p:last-child, .comment-content blockquote p:last-child { margin-bottom: 0; }
.entry-content code, .comment-content code { font-family: Consolas, Monaco, Lucida Console, monospace; font-size: 12px; line-height: 2; }
.entry-content pre, .comment-content pre { border: 1px solid $default-border-color; color: $dark-header-color; font-family: Consolas, Monaco, Lucida Console, monospace; font-size: 12px; line-height: 1.7; margin: 24px 0; overflow: auto; padding: 24px; }
.entry-content pre code, .comment-content pre code { display: block; }
.entry-content abbr, .comment-content abbr, .entry-content dfn, .comment-content dfn, .entry-content acronym, .comment-content acronym { border-bottom: 1px dotted $dark-border-color; cursor: help; }
.entry-content address, .comment-content address { display: block; line-height: 1.7; margin: 0 0 24px; }
.entry-content embed, .entry-content iframe, .entry-content object, .entry-content video { margin-bottom: 24px; }
.entry-content dl, .comment-content dl { margin: 0 24px; }
.entry-content dt, .comment-content dt { font-weight: bold; line-height: 1.7; }
.entry-content dd, .comment-content dd { line-height: 1.7; margin-bottom: 24px; }
.entry-content table, .comment-content table { border-bottom: $content-table-border; color: $content-table-td-color; font-size: 12px; line-height: 2; margin: 0 0 24px; width: 100%; }
.entry-content table caption, .comment-content table caption { font-size: 16px; margin: 24px 0; }
.entry-content td, .comment-content td { border-top: $content-table-border; padding: 6px 10px 6px 0; }
.entry-content th, .comment-content th { font-size: 11px; line-height: 2; font-weight: bold; text-transform: uppercase; color: $content-table-th-color; }
.page-links { clear: both; line-height: 1.7; }
footer.entry-meta { margin-top: 24px; font-size: 13px; line-height: 1.8; color: $light-header-color; }
.single-author .entry-meta .by-author { display: none; }
.mu_register h2 { color: $light-header-color; font-weight: normal; }
li.bypostauthor cite span { color: $white; background-color: $blue; background-image: none; border: 1px solid $lightgrey; @include rounded(2px); box-shadow: none; padding: 0; }											

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Archives %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.archive-title, .page-title { font-size: 11px; line-height: 2; font-weight: bold; text-transform: uppercase; color: $dark-header-color; }
.archive-header, .page-header { margin-bottom: 48px; padding-bottom: 22px; border-bottom: 1px solid $default-border-color; }
.archive-meta { color: $light-header-color; font-size: 12px; line-height: 2; margin-top: 22px; }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Single image attachment view %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.article.attachment { overflow: hidden; }
.image-attachment div.attachment { text-align: center; }
.image-attachment div.attachment p { text-align: center; }
.image-attachment div.attachment img { display: block; height: auto; margin: 0 auto; max-width: 100%; }
.image-attachment .entry-caption { margin-top: 8px; }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Aside post format %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

article.format-aside h1 { margin-bottom: 24px; }
article.format-aside h1 a { text-decoration: none; color: $light-header-color; }
article.format-aside h1 a:hover { color: $default-link-hover; }
article.format-aside .aside { padding: 24px 24px 0; background: $lightgrey; border-left: 22px solid $grey; }
article.format-aside p { font-size: 13px; line-height: 1.8; color: $charcoal; }
article.format-aside blockquote:last-child, article.format-aside p:last-child { margin-bottom: 0; }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Post formats %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Image posts */
article.format-image footer h1 { font-size: 13px; line-height: 1.8; font-weight: normal; }
article.format-image footer h2 { font-size: 11px; line-height: 2; }
article.format-image footer a h2 { font-weight: normal; }

/* Link posts */
article.format-link header { padding: 0 10px; float: right; font-size: 11px; line-height: 2; font-weight: bold; font-style: italic; text-transform: uppercase; color: $darkgrey; background-color: $lightgrey; @include rounded(3px); }
article.format-link .entry-content { max-width: 80%; float: left; }
article.format-link .entry-content a { font-size: 22px; line-height: 1.1; text-decoration: none; }

/* Quote posts */
article.format-quote footer.entry-meta, article.format-link footer.entry-meta, article.format-status footer.entry-meta { font-size: 11px; line-height: 2; }
article.format-quote .entry-content p { margin: 0; padding-bottom: 24px; }
article.format-quote .entry-content blockquote { display: block; padding: 24px 24px 0; font-size: 15px; line-height: 1.6; font-style: normal; color: $darkgrey; background: $lightgrey; }

/* Status posts */
.format-status .entry-header { margin-bottom: 24px; }
.format-status .entry-header header { display: inline-block; }
.format-status .entry-header h1 { font-size: 15px; font-weight: normal; line-height: 1.6; margin: 0; }
.format-status .entry-header h2 { font-size: 12px; font-weight: normal; line-height: 2; margin: 0; }
.format-status .entry-header header a { color: $light-header-color; }
.format-status .entry-header header a:hover { color: $default-link-hover; }
.format-status .entry-header img { float: left; margin-right: 15px; }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Comments %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.comments-title { color: $default-font-color; margin-bottom: 28px; font-size: 18px; line-height: 1.5; font-weight: normal; font-family: 'Gilda Display', serif; }
.comments-area article { margin: 24px 0; padding: 14px; border: 1px solid $light-border-color; background: $lightgrey url("img/comment_box.jpg") no-repeat scroll right top; @include rounded(15px); line-height: 24px; }
.comments-area article header { margin: 0 0 48px; overflow: hidden; position: relative; }
.comments-area article header img { float: left; padding: 0; line-height: 0; }
.comments-area article header cite, .comments-area article header time { display: block; margin-left: 85px; }
.comments-area article header cite { font-style: normal; font-size: 15px; line-height: 1.4; }
.comments-area article header time { line-height: 1.7; text-decoration: none; font-size: 12px; color: $dark-header-color; }
.comments-area article header a { text-decoration: none; color: $dark-header-color; }
.comments-area article header a:hover { color: $default-link-hover; }
.comments-area article header cite a { color: $default-font-color; }
.comments-area article header cite a:hover { text-decoration: underline; }
.comments-area article header h4 { position: absolute; top: 0; right: 0; padding: 6px 12px; font-size: 12px; font-weight: normal; color: $white; @include linear-gradient(#009cee, $lightblue); @include rounded(3px); border: 1px solid $lightblue; }
.comments-area li.bypostauthor cite span { position: absolute; margin-left: 5px; padding: 2px 5px; font-size: 10px; }
a.comment-reply-link, a.comment-edit-link { color: $dark-header-color; font-size: 13px; line-height: 1.8; }
a.comment-reply-link:hover, a.comment-edit-link:hover { color: $default-link-hover; }
.commentlist .pingback { line-height: 1.7; margin-bottom: 24px; }
.author-avatar { float: left; margin-top: 8px; } 
	.author-description { float: right; width: 80%; }
.author .archive-header { margin-bottom: 24px; }
.author-info { border-top: 1px solid $default-border-color; margin: 24px 0; padding-top: 24px; overflow: hidden; }
.author-description p { color: $light-header-color; font-size: 13px; line-height: 1.7; }
.author.archive .author-info { border-top: 0; margin: 0 0 48px; }
.author.archive .author-avatar { margin-top: 0; }

/* Comment form */
#respond { margin-top: 48px; }
#respond h3#reply-title { color: $default-font-color; font-size: 18px; line-height: 1.5; font-weight: normal; font-family: 'Gilda Display', serif; }
#respond h3#reply-title #cancel-comment-reply-link { color: $default-font-color; margin-left: 10px; font-weight: normal; font-size: 12px; font-family: 'Source Sans Pro Italic', sans-serif; }
#respond form { margin: 24px 0; padding: 14px; border: 1px solid $light-border-color; overflow: hidden; background: $lightgrey url("img/comment_box.jpg") no-repeat scroll left top; @include rounded(15px); }
#respond form p { margin: 11px 0; }
#respond form p.logged-in-as { margin-bottom: 24px; }
#respond form label { display: block; line-height: 1.7; }
#respond form input[type="text"], #respond form textarea { -moz-box-sizing: border-box; box-sizing: border-box; font-size: 12px; line-height: 1.7; padding: 10px; width: 100%; }
#respond form input[type="text"] { @include responsive(tablet) { width: 46.333333333%; } }
#respond form textarea.blog-textarea { @include responsive(tablet) { width: 79.666666667%; } }
#respond form p.form-allowed-tags { margin: 0; font-size: 12px; line-height: 2; color: $dark-header-color; }
.required { color: red; }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Widgets %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.widget-area .widget ul ul { margin-left: 12px; }
.widget_rss li { margin: 12px 0; }
.widget_recent_entries .post-date, .widget_rss .rss-date { color: $grey; font-size: 11px; margin-left: 12px; }
#wp-calendar { margin: 0; width: 100%; font-size: 13px; line-height: 1.8; color: $dark-header-color; }
#wp-calendar th, #wp-calendar td, #wp-calendar caption { text-align: left; }
#wp-calendar #next { padding-right: 24px; text-align: right; }
.widget_search label { display: block; font-size: 13px; line-height: 1.8; }
.widget_twitter li { list-style-type: none; }
.widget_twitter .timesince { display: block; text-align: right; }
.widget-title { font-size: 11px; line-height: 2; font-weight: bold; text-transform: uppercase; color: $dark-header-color; }

.widget-area { padding: 0; }
	.widget-area .widget { margin-bottom: 21px; word-wrap: break-word; }
	.widget-area .widget h3 { margin-bottom: 0; }
	.widget-area .widget p, .widget-area .widget li, .widget-area .widget .textwidget { font-size: 13px; line-height: 1.8; }
	.widget-area .widget p { margin-bottom: 24px; }
	.widget-area .textwidget ul { list-style: disc outside; margin: 0 0 24px; }
	.widget-area .textwidget li { margin-left: 36px; }
	.widget-area .widget a { color: $light-header-color; }
	.widget-area .widget a:hover { color: $default-link-hover; }

	.widget-area .widget h3 { border-bottom: $dark-border-color solid 1px; color: $sidebar-header-color; font-size: 18px; padding: 0; text-transform: none; }
	.widget-area .widget ul { list-style: disc; margin-left: 18px; padding: 10px 0 0 0; }
	.widget-area .widget li { margin: 0; line-height: 1.3; }
	.widget-area .widget li a { color: $dark-header-color; }
	.widget-area .widget li a:hover { color: $default-link-hover; }
	.widget-area .widget.widget_search { border: 0; @include rounded(0); }
	
.sidebar-right, .sidebar-left { @include responsive(tablet) { vertical-align: top; } }
.sidebar-right .widget, .sidebar-left .widget { margin: 15px; line-height: 1.7;
		@include responsive(tablet)	{ margin: 15px 0; } }
.sidebar-right .widget:first-child, .sidebar-left .widget:first-child {
		@include responsive(tablet)	{ margin: 0; } }
.sidebar_buttons_wrapper { clear: both; font-size: 20px; line-height: 1.3; margin: 0 0 20px 0; color: $white;
		@include responsive(tablet) { width: 98%; } }
	.sidebar_buttons { text-align: center; padding: 0; @include max-width($width-desktop); }
		.sidebar_button_wrapper { display: inline-block; margin: 0 0 15px 0; background: $darkgrey; @include rounded(30px); width: 94%; }
		.sidebar_button_wrapper:last-child { margin: 0; }
			.sidebar_button { padding: 8px; text-align: left;
					@include responsive(tablet) { text-align: center; }
					@include responsive(desktop) { text-align: left; } }
				.sidebar_button a { color: $white; text-decoration: none; line-height: 1; }
				.sidebar_button a:hover { color: $orange; text-decoration: underline; }
				.sidebar_button h3 { margin-top: 0; font-size: 16px; line-height: 1; }
				.sidebar_button img { margin-right: 7px; width: 50px; display: inline-block; vertical-align: middle; }
				.sidebar_button .sidebar_button_text_wrap { display: inline-block; vertical-align: middle;
						@include responsive(tablet) { display: block; }
						@include responsive(desktop) { display: inline-block; } }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Footer %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.cta-banner { clear: both; font-size: 20px; line-height: 1.3; margin: 0; padding: 40px 0; color: $cta-banner-font-color; background: $cta-banner-bg-color; text-align: center; text-transform: uppercase;
		@include responsive(tablet) { font-size: 30px; } }
	.cta-banner strong { display: block; font-size: 40px; margin: 0; vertical-align: middle;
			@include responsive(tablet) { font-size: 60px; margin: 0 40px; }
			@include responsive(desktop) { display: inline-block; } }
	.cta-banner a { color: $cta-banner-link-color; }
	.cta-banner a:hover { color: $cta-banner-link-hover; }
	
#colophon { clear: both; font-size: 12px; line-height: 2; margin-top: 0; padding: 40px 0 24px 0; color: $footer-font-color; background: $footer-bg-color; }
	.site-footer { @include max-width($width-desktop); padding: 0 15px; }
		.site-footer a { color: $footer-link-color; }
		.site-footer a:hover { color: $footer-link-hover; }
		.site-footer .widget { float: left; padding: 0; width: auto; margin: 0 20px 0 0;
				@include responsive(tablet) { float: left; margin: 0 0 0 2%; margin-right: 0; } }
			.site-footer .widget:first-child { @include responsive(tablet) { margin: 0; } }
			.site-footer .widget:last-child { @include responsive(tablet) { margin: 0 0 0 2% } }
		.site-footer h3 { font-size: 18px; margin-bottom: 5px; color: $footer-font-color; }
		.site-footer p { margin-bottom: 15px; font-size: 10px; }
	.site-copyright { clear: both; margin-top: 30px; padding-top: 20px; text-align: center; color: $copyright-font-color; border-top: $dark-border-color solid 1px; }
		.site-copyright a { color: $copyright-link-color; }
		.site-copyright a:hover { color: $copyright-link-hover; }
		.site-copyright a:after { content: '\A'; white-space:pre;
				@include responsive(tablet) { content: ''; white-space: normal; } }
		.site-copyright p { display: inline-block; vertical-align: middle; line-height: 1.5; margin: 0; padding: 0;
				@include responsive(tablet) { line-height: 3; } }
		.site-copyright ul { display: inline-block; vertical-align: middle; line-height: 1.5;
				@include responsive(tablet) { line-height: 3; } }
		.site-copyright li { list-style: none; float: left; line-height: 1.5; margin-left: 10px; padding-left: 10px; border-left: $dark-border-color solid 1px;
				@include responsive(tablet) { line-height: 3; margin-left: 20px; padding-left: 20px; } }
		.site-copyright li:first-child { border-left: 0; margin-left: 0; padding-left: 0;
				@include responsive(tablet) { border-left: $dark-border-color solid 1px; margin-left: 20px; padding-left: 20px; } }
		.site-copyright li a { color: $copyright-link-color; line-height: 1; }
		.site-copyright li a:hover { color: $copyright-link-hover; text-decoration: underline; }
		
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Plugins %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* JetPack */
img#wpstats { display: block; margin: 0 auto 24px; }

/* Nivo Slider */
.nivoSlider { margin-top: -2px; max-height: 400px; }
.nivo-caption { background: $slider-caption-bg-color; color: $slider-caption-font-color; @include opacity(0.65, 65); font-size: 20px; line-height: 1.5; text-align: center; font-weight: bold;
		@include responsive(tablet) { font-size: 50px; } }
												
/* Contact Form 7 Styles */
.entry-content .wpcf7-form p { margin: 0 0 10px 0; }
.entry-content .wpcf7-form label { width: 95%; font-size: 1; display: block; font-weight: bold; font-style: italic; }
.entry-content .wpcf7-form-control { width: 95%; }
.entry-content .wpcf7-form img { vertical-align: top; width: auto; height: 23px; display: inline !important; margin-top: 2px; }
.entry-content .wpcf7-form .wpcf7-not-valid-tip { position: absolute; top: -4px; left: -5px; z-index: 100; background: $error-bg-color; border: 1px solid $error-border-color; font-size: 10pt; width: 100%; padding: 2px 0 2px 0px; height: 23px; color: $error-font-color; font-weight: bold; white-space: nowrap; margin-left: 5px; @include rounded(4px); }
.entry-content .wpcf7-captchar { width: 68%; }
.entry-content .wpcf7-submit { width: auto; font-size: 14px; line-height: 1; }
.entry-content .wpcf7-list-item { display: block; }

/* Notifications Bar */
html .notification-bar { display: none; }
html.notifications.top body, html.notifications.top body header { margin: 40px 0 0 0; }
html.notifications .notification-bar { display: block; position: fixed; z-index: 1004; width: 97%; padding: 1.5%; text-align: center; @include shadow(0, 0, 10px, 0, rgba(0,0,0, 0.35)); height: auto; } 
	html.notifications .notification-bar .notification-wrapper { text-align: left; }
	html.notifications .notification-bar h3 { clear: none; margin-bottom: 10px; }
	html.notifications .notification-bar p { clear: none; margin-bottom: 10px; }
	html.notifications.top .notification-bar { top: 0px; }
	html.notifications.bottom .notification-bar { bottom: 0px; }
	html.notifications .notification-bar .close { float: right; margin: 0 0 10px 10px; width: 20px; height: 20px; cursor: pointer; background: url("img/mobile_menu_close.png") no-repeat center center; text-indent: -9999em; @include opacity(0.7, 70); } 
	html.notifications .notification-bar .close:hover { @include opacity(1.0, 100); }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% IE Styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

html.has-ie {  }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Print %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media print { 
	body { background: none !important; color: $black; font-size: 10pt; } 
	footer a[rel=bookmark]:link:after, footer a[rel=bookmark]:visited:after { content: " [" attr(href) "] "; /* Show URLs */ } 
	a { text-decoration: none; } 
	.entry-content img, .comment-content img, .author-avatar img, img.wp-post-image { @include rounded(0); box-shadow: none; } 
	.site { clear: both !important; display: block !important; float: none !important; max-width: 100%; position: relative !important; } 
	.site-header { margin-bottom: 72px; text-align: left; } 
	.site-header .site-title { font-size: 21pt; line-height: 1; text-align: left; } 
	.site-header .site-description { color: $black; font-size: 10pt; text-align: left; } 
	.site-header .site-title a, .site-header .site-description a { color: $black; } 
	.author-avatar, .site-footer, #respond, .commentlist .comment-edit-link, .commentlist .reply, .entry-header .comments-link, .entry-meta .edit-link a, .page-link, .site-content nav, .widget-area, img.header-image, .main-navigation { display: none; } 
	.wrapper { border-top: none; box-shadow: none; } 
	.site-content { margin: 0; width: auto; } 
	.singular .entry-header .entry-meta { position: static; } 
	.singular .site-content, .singular .entry-header, .singular .entry-content, .singular footer.entry-meta, .singular .comments-title { margin: 0; width: 100%; } 
	.entry-header .entry-title, .entry-title, .singular .entry-title { font-size: 21pt; } 
	footer.entry-meta, footer.entry-meta a { color: $charcoal; font-size: 10pt; } 
	.author-description { float: none; width: auto; }
 	.commentlist > li.comment { background: none; position: relative; width: auto; } 
 	.commentlist .avatar { height: 39px; left: 2.2em; top: 2.2em; width: 39px; } 
 	.comments-area article header cite, .comments-area article header time { margin-left: 50px; } 
}