/*
Theme Name: 	FC
Theme URI: 		http://flagstaffconnection.com
Version: 			1.0
Description: 	FC Parent Theme
Author: 			Jesse Waitz
Author URI:		http://flagstaffconnection.com
Tags: 				light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
License: 			GNU General Public License v2 or later
License URI: 	http://www.gnu.org/licenses/gpl-2.0.html
Copyright:		Copyright (c) 2013, Jesse Waitz <http://flagstaffconnection.com>
Text Domain: 	fc

If you have any questions, comments, or concerns, 
visit <http://flagstaffconnection.com> for more information!
*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Reset %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
h1, h2, h3, h4, h5, h6 { clear: both; }
html { overflow-y: scroll; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a:focus { outline: thin dotted; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
del { color: #333; }
ins { background: #fff9c0; text-decoration: none; }
hr { background-color: #ccc; border: 0; height: 1px; margin: 24px 0; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
small { font-size: smaller; }
img { border: 0; -ms-interpolation-mode: bicubic; }

/* Clearing floats */
.clear:after, .wrapper:after, .format-status .entry-header:after { clear: both; }
.clear:before, .clear:after, .wrapper:before, .wrapper:after, .format-status .entry-header:before, .format-status .entry-header:after { display: table; content: ""; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Repeatable patterns %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Small headers */
.archive-title, .page-title, .widget-title, .entry-content th, .comment-content th { font-size: 11px; line-height: 2.181818182; font-weight: bold; text-transform: uppercase; color: #636363; }

/* Shared Post Format styling */
article.format-quote footer.entry-meta, article.format-link footer.entry-meta, article.format-status footer.entry-meta { font-size: 11px; line-height: 2.181818182; }

/* Form fields, general styles first */
button, input, textarea { border: 1px solid #ccc; border-radius: 3px; font-family: inherit; padding: 6px; }
button, input { line-height: normal; }
textarea { font-size: 100%; overflow: auto; vertical-align: top; }

/* Reset non-text input types */
input[type="checkbox"], input[type="radio"], input[type="file"], input[type="hidden"], input[type="image"], input[type="color"] { border: 0; border-radius: 0; padding: 0; }

/* Buttons */
.menu-toggle, input[type="submit"], input[type="button"], input[type="reset"], article.post-password-required input[type=submit], li.bypostauthor cite span { padding: 7px 20px; font-size: 14px; line-height: 1; font-weight: normal; color: #fff; background-color: #2020b6; border: 0; border-radius: 4px; text-transform: uppercase; vertical-align: top; }
.menu-toggle, button, input[type="submit"], input[type="button"], input[type="reset"] { cursor: pointer;  }
button[disabled], input[disabled] { cursor: default; }
.menu-toggle:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, article.post-password-required input[type=submit]:hover { color: #fff; background-color: orange; }
.menu-toggle:active, .menu-toggle.toggled-on, button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active { color: #fff; background-color: #2020b6; border: 0; }
li.bypostauthor cite span { color: #fff; background-color: #21759b; background-image: none; border: 1px solid #1f6f93; border-radius: 2px; box-shadow: none; padding: 0; }

/* Responsive images */
.entry-content img, .comment-content img, .widget img { max-width: 100%; /* Fluid images for posts, comments, and widgets */ }
img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] { height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }
img.size-full, img.size-large, img.header-image, img.wp-post-image { max-width: 100%; height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

/* Make sure videos and embeds fit their containers */
embed, iframe, object, video { max-width: 100%; }
.entry-content .twitter-tweet-rendered { max-width: 100% !important; /* Override the Twitter embed fixed width */ }

/* Images */
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
img.alignleft { margin: 12px 24px 12px 0; }
img.alignright { margin: 12px 0 12px 24px; }
img.aligncenter { margin-top: 12px; margin-bottom: 12px; }
.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image { /* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */ border-radius: 3px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
.wp-caption { max-width: 100%; /* Keep wide captions from overflowing their container. */ padding: 4px; }
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption { font-style: italic; font-size: 12px; line-height: 2; color: #757575; }
img.wp-smiley, .rsswidget img { border: 0; border-radius: 0; box-shadow: none; margin-bottom: 0; margin-top: 0; padding: 0; }
.entry-content dl.gallery-item { margin: 0; }
.gallery-item a, .gallery-caption { width: 90%; }
.gallery-item a { display: block; }
.gallery-caption a { display: inline; }
.gallery-columns-1 .gallery-item a { max-width: 100%; width: auto; }
.gallery .gallery-icon img { height: auto; max-width: 90%; padding: 5%; }
.gallery-columns-1 .gallery-icon img { padding: 3%; }

/* Navigation */
.site-content nav { clear: both; line-height: 2; overflow: hidden; }
#nav-above { padding: 24px 0; }
#nav-above { display: none; }
.paged #nav-above { display: block; }
.nav-previous, .previous-image { float: left; width: 50%; }
.nav-next, .next-image { float: right; text-align: right; width: 50%; }
.nav-single + .comments-area, #comment-nav-above { margin: 48px 0; }

/* Author profiles */
.author .archive-header { margin-bottom: 24px; }
.author-info { border-top: 1px solid #ededed; margin: 24px 0; padding-top: 24px; overflow: hidden; }
.author-description p { color: #757575; font-size: 13px; line-height: 1.846153846; }
.author.archive .author-info { border-top: 0; margin: 0 0 48px; }
.author.archive .author-avatar { margin-top: 0; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Basic structure %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Body, links, basics */
html { font-size: 62.5%; }
body { background-color: #fff; font-size: 14px; font-family: "Open Sans", Helvetica, Arial, sans-serif; text-rendering: optimizeLegibility; color: #444; }
body.custom-font-enabled { font-family: "Open Sans", Helvetica, Arial, sans-serif; }
body .site { padding: 0; overflow: hidden; }
a { outline: none; color: #2020b6; text-decoration: none; }
a:hover { color: orange; text-decoration: underline; }
#wpadminbar { position: fixed!important; }

/* Assistive text */
.assistive-text, .site .screen-reader-text { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }
.main-navigation .assistive-text:hover, .main-navigation .assistive-text:active, .main-navigation .assistive-text:focus { background: #fff; border: 2px solid #333; border-radius: 3px; clip: auto !important; color: #000; display: block; font-size: 12px; padding: 12px; position: absolute; top: 5px; left: 5px; z-index: 100000; /* Above WP toolbar */ }

/* Page structure */
.site { padding: 0 24px; background-color: #fff; }
	.site-content { margin: 0 auto; max-width: 960px; }
	.site-content #content { padding: 15px;  }

/* Header */
.site-header { padding: 15px 0; position: fixed; top: auto; left: 0; width: 100%; padding: 0; background: #bbb; z-index: 1000; } 
	.site-header .site-title, .site-header .site-description { text-align: left; margin: 0; padding: 0 2%; line-height: 1.2; }
	.site-header .site-title a, .site-header .site-description a { color: #515151; display: inline-block; text-decoration: none; }
	.site-header .site-title a:hover, .site-header .site-description a:hover { color: #21759b; }
	.site-header .site-title { font-size: 24px; line-height: 1.285714286; margin-bottom: 14px; }
	.site-header .site-title a { margin: 15px 0; padding: 0; font-size: 24px; font-style: italic; font-weight: bold; line-height: 10px; }
	.site-header .site-title a img { height: 100%; width: 100%; }
	.site-header .site-description { font-weight: normal; font-size: 13px; line-height: 1.846153846; color: #757575; }
	.site-header .site-logo { position: relative; z-index: 1002; padding: 0; width: 96%; margin: 0 auto 0 0; }
	
/* Header Navigation Styles */
.header-navigation { position: relative; width: auto; z-index:1003; }
	.header-navigation ul { list-style-type: none; text-align: right; }
	.header-navigation li { margin-left: 2px; padding-left: 5px; border-left: #fff solid 1px; display: inline-block; }
	.header-navigation li:first-child { border-left: 0; }
	.header-navigation a { color: #fff; text-decoration: none; }
	.header-navigation a:hover { color: #2020B6; text-decoration: underline; }
	.header-navigation .menu-header-menu-container { float: right; }

/* Main Navigation Styles */
.right-arrow { float: right; background:none!important; border-left:0!important; padding:5px 5px 0 0!important; display:block; }
.right-arrow:hover { background:none!important; border-left:0!important; padding:5px 5px 0 0!important; }
.menu-lightbox { display:none; background:#000; opacity:0.8; filter:alpha(opacity=80); position:absolute; top:auto; left:0; min-width:100%; min-height:10000px; z-index:999; }
.menu-spacer { width: 100%; padding: 0; margin: 0; line-height: 10px; text-indent: -9999em; margin-top: 0; }
.main-navigation { position: absolute; top: 0; right: 0; margin: 0; padding: 0; width: 100%; z-index:1002; text-align: center; }
	.main-navigation li { margin-top: 24px; font-size: 12px; line-height: 1.42857143; }
	.main-navigation a { color: #5e5e5e; }
	.main-navigation a:hover { color: #21759b; }
	.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul { display: none; }
	.main-navigation ul.nav-menu.toggled-on, .menu-toggle { display: inline-block; }
	.main-navigation h3.menu-toggle { text-indent: -9999em; display: block; position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; padding: 0; margin: 0; background: transparent url("img/ios_menu_icon_black.png") no-repeat 96% center; background-size: 100%; border: 0; border-radius: 0; box-shadow: none; opacity: 0.7; }
	.main-navigation .menu-main { width: 100%; height: 100%; }
	.main-navigation .nav-menu { position: absolute; left:0; width: 100%; height: 100%; }
	.main-navigation ul { height: 100%; background: #666; }
	.main-navigation ul, .main-navigation ul, .main-navigation ul ul  { list-style-type:none; margin: 0; padding: 0; width: 100%; }
	.main-navigation ul a { display: block; text-decoration: none; text-align: left; font-size: 13px; font-weight: 600; }
	.main-navigation ul a:hover { color: #fff; }
	.main-navigation ul li { margin-top: 1px; }
	.main-navigation ul li a { background: #555; color: #eee; padding: 6px; }
	.main-navigation ul li a:hover { background: #2020B6; }
	.main-navigation ul li ul li a { background: #777; color: #eee; padding-left: 20px; text-transform: none; font-weight: 300; }
	.main-navigation ul li ul li a:hover { background: #2020B6; }
	.main-navigation ul li ul li ul li a { background: #999; color: #eee; padding-left: 30px; }
	.main-navigation ul li ul li ul li a:hover { background: #2020B6; }
	.main-navigation ul li ul li ul li ul li a { background: #aaa; color: #eee; padding-left: 40px; }
	.main-navigation ul li ul li ul li ul li a:hover { background: #2020B6; }
	.menu-toggle:active, .menu-toggle.toggled-on { color: #fff; background: #000; box-shadow: none; border: 0; border-bottom: 1px solid #d2d2d2; }
	.main-navigation h3.my-account-toggle { text-indent: -9999em; display: block; position: absolute; top: 10px; right: 40px; width: 19px; height: 19px; padding: 0; margin: 0; background: transparent url("img/ios_account_icon_black.png") no-repeat 96% center; background-size: 100%; border: 0; border-radius: 0; box-shadow: none; opacity: 0.7; cursor: pointer; }
	.main-navigation .menu-my-account { width: 100%; height: 100%; }
	.main-navigation .menu-my-account ul { display: none; position: absolute; left: 0; width: 100%; height: 100%; }

/* Banner */
section[role="banner"] { margin-bottom: 48px; }

/* Temmplate Layouts */
body.template_c #main { width: 100%; }
body.template_c .site-content { width: 96%; }

body.template_cs .site-content { display: table-header-group; }
body.template_cs .sidebar-right { display: table-footer-group; background: #eee; } 

body.template_sc .sidebar-left { display: table-footer-group; background: #eee; } 
body.template_sc .site-content { display: table-header-group; }

body.template_scs .sidebar-left { display: table-footer-group; background: #eee; } 
body.template_scs .site-content { display: table-header-group; }
body.template_scs .sidebar-right { display: table-footer-group; background: #eee; } 
	
/* Blog Temmplate Layouts */
body.blog article a { font-weight: 700; }
body.blog article .thumbnail-excerpt a { font-weight: 400; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Main content and comment content %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.entry-meta { clear: both; }
.entry-header { margin-bottom: 24px; }
.entry-header img.wp-post-image { margin-bottom: 24px; }
.entry-header .entry-title { font-size: 20px; line-height: 1.2; margin-bottom: 0; font-weight: bold; color: #2020b6; }
.entry-header .entry-title a { text-decoration: none; }
	.entry-credits { color: #999; }
	.entry-credits a { outline: none; color: #2020B6; text-decoration: underline; }
	.entry-credits a:hover { color: #c00; text-decoration: underline; }
.entry-header .entry-format { margin-top: 24px; font-weight: normal; }
.entry-header .comments-link { margin-top: 24px; font-size: 13px; line-height: 1.846153846; color: #757575; }
.comments-link a, .entry-meta a { color: #757575; }
.comments-link a:hover, .entry-meta a:hover { color: #21759b; }

article.sticky .featured-post { border-top: 4px double #ededed; border-bottom: 4px double #ededed; color: #757575; font-size: 13px; line-height: 3.692307692; margin-bottom: 24px; text-align: center; }
.entry-content, .entry-summary, .mu_register { line-height: 1.714285714; }

.entry-content h1, .comment-content h1, .entry-content h2, .comment-content h2, .entry-content h3, .comment-content h3, .entry-content h4, .comment-content h4, .entry-content h5, .comment-content h5, .entry-content h6, .comment-content h6 { margin: 24px 0; line-height: 1.714285714; }
.entry-content h1, .comment-content h1 { color: orange; font-size: 21px; line-height: 1.5; }
.entry-content h2, .comment-content h2 { color: orange; font-size: 18px; line-height: 1.6; }
.entry-content h3, .comment-content h3 { color: orange; font-size: 16px; line-height: 1.846153846; }
.entry-content h4, .comment-content h4 { color: orange; font-size: 14px; line-height: 1.846153846; }
.entry-content h5, .comment-content h5 { color: orange; font-size: 13px; line-height: 1.846153846; }
.entry-content h6, .comment-content h6 { color: orange; font-size: 12px; line-height: 1.846153846; }

.entry-content h3, .comment-content h3 { margin: 0 0 14px 0; line-height: 1em; font-weight: 600; }
	.entry-content h3 b, .comment-content h3 strong { font-weight: 600; }
.entry-content img { box-shadow: none; }
.entry-content p, .entry-summary p, .comment-content p, .mu_register p { margin: 0 0 24px; line-height: 1.714285714; }
.entry-content ol, .comment-content ol, .entry-content ul, .comment-content ul, .mu_register ul { margin: 0 0 24px; line-height: 1.714285714; }
.entry-content ul ul, .comment-content ul ul, .entry-content ol ol, .comment-content ol ol, .entry-content ul ol, .comment-content ul ol, .entry-content ol ul, .comment-content ol ul { margin-bottom: 0; }
.entry-content ul, .comment-content ul, .mu_register ul { list-style: disc outside; }
.entry-content ol, .comment-content ol { list-style: decimal outside; }
.entry-content li, .comment-content li, .mu_register li { margin: 0 0 0 36px; }
.entry-content blockquote, .comment-content blockquote { margin-bottom: 24px; padding: 0 24px; font-style: italic; }
.entry-content blockquote p:last-child, .comment-content blockquote p:last-child { margin-bottom: 0; }
.entry-content code, .comment-content code { font-family: Consolas, Monaco, Lucida Console, monospace; font-size: 12px; line-height: 2; }
.entry-content pre, .comment-content pre { border: 1px solid #ededed; color: #666; font-family: Consolas, Monaco, Lucida Console, monospace; font-size: 12px; line-height: 1.714285714; margin: 24px 0; overflow: auto; padding: 24px; }
.entry-content pre code, .comment-content pre code { display: block; }
.entry-content abbr, .comment-content abbr, .entry-content dfn, .comment-content dfn, .entry-content acronym, .comment-content acronym { border-bottom: 1px dotted #666; cursor: help; }
.entry-content address, .comment-content address { display: block; line-height: 1.714285714; margin: 0 0 24px; }
.entry-content embed, .entry-content iframe, .entry-content object, .entry-content video { margin-bottom: 24px; }
.entry-content dl, .comment-content dl { margin: 0 24px; }
.entry-content dt, .comment-content dt { font-weight: bold; line-height: 1.714285714; }
.entry-content dd, .comment-content dd { line-height: 1.714285714; margin-bottom: 24px; }
.entry-content table, .comment-content table { border-bottom: 1px solid #ededed; color: #757575; font-size: 12px; line-height: 2; margin: 0 0 24px; width: 100%; }
.entry-content table caption, .comment-content table caption { font-size: 16px; margin: 24px 0; }
.entry-content td, .comment-content td { border-top: 1px solid #ededed; padding: 6px 10px 6px 0; }
.page-links { clear: both; line-height: 1.714285714; }
footer.entry-meta { margin-top: 24px; font-size: 13px; line-height: 1.846153846; color: #757575; }
.single-author .entry-meta .by-author { display: none; }
.mu_register h2 { color: #757575; font-weight: normal; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Archives %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.archive-header, .page-header { margin-bottom: 48px; padding-bottom: 22px; border-bottom: 1px solid #ededed; }
.archive-meta { color: #757575; font-size: 12px; line-height: 2; margin-top: 22px; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Single image attachment view %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.article.attachment { overflow: hidden; }
.image-attachment div.attachment { text-align: center; }
.image-attachment div.attachment p { text-align: center; }
.image-attachment div.attachment img { display: block; height: auto; margin: 0 auto; max-width: 100%; }
.image-attachment .entry-caption { margin-top: 8px; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Aside post format %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

article.format-aside h1 { margin-bottom: 24px; }
article.format-aside h1 a { text-decoration: none; color: #4d525a; }
article.format-aside h1 a:hover { color: #2e3542; }
article.format-aside .aside { padding: 24px 24px 0; background: #d2e0f9; border-left: 22px solid #a8bfe8; }
article.format-aside p { font-size: 13px; line-height: 1.846153846; color: #4a5466; }
article.format-aside blockquote:last-child, article.format-aside p:last-child { margin-bottom: 0; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Post formats %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Image posts */
article.format-image footer h1 { font-size: 13px; line-height: 1.846153846; font-weight: normal; }
article.format-image footer h2 { font-size: 11px; line-height: 2.181818182; }
article.format-image footer a h2 { font-weight: normal; }

/* Link posts */
article.format-link header { padding: 0 10px; float: right; font-size: 11px; line-height: 2.181818182; font-weight: bold; font-style: italic; text-transform: uppercase; color: #848484; background-color: #ebebeb; border-radius: 3px; }
article.format-link .entry-content { max-width: 80%; float: left; }
article.format-link .entry-content a { font-size: 22px; line-height: 1.090909091; text-decoration: none; }

/* Quote posts */
article.format-quote .entry-content p { margin: 0; padding-bottom: 24px; }
article.format-quote .entry-content blockquote { display: block; padding: 24px 24px 0; font-size: 15px; line-height: 1.6; font-style: normal; color: #6a6a6a; background: #efefef; }

/* Status posts */
.format-status .entry-header { margin-bottom: 24px; }
.format-status .entry-header header { display: inline-block; }
.format-status .entry-header h1 { font-size: 15px; font-weight: normal; line-height: 1.6; margin: 0; }
.format-status .entry-header h2 { font-size: 12px; font-weight: normal; line-height: 2; margin: 0; }
.format-status .entry-header header a { color: #757575; }
.format-status .entry-header header a:hover { color: #21759b; }
.format-status .entry-header img { float: left; margin-right: 15px; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Comments %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.comments-title { color: #444; margin-bottom: 28px; font-size: 18px; line-height: 1.5; font-weight: normal; font-family: 'Gilda Display', serif; }
.comments-area article { margin: 24px 0; padding: 14px; border: 1px solid #ccc; background: #ddd url("img/comment_box.jpg") no-repeat scroll right top; -moz-border-radius: 15px; border-radius: 15px; line-height: 24px; }
.comments-area article header { margin: 0 0 48px; overflow: hidden; position: relative; }
.comments-area article header img { float: left; padding: 0; line-height: 0; }
.comments-area article header cite, .comments-area article header time { display: block; margin-left: 85px; }
.comments-area article header cite { font-style: normal; font-size: 15px; line-height: 1.42857143; }
.comments-area article header time { line-height: 1.714285714; text-decoration: none; font-size: 12px; color: #5e5e5e; }
.comments-area article header a { text-decoration: none; color: #5e5e5e; }
.comments-area article header a:hover { color: #21759b; }
.comments-area article header cite a { color: #444; }
.comments-area article header cite a:hover { text-decoration: underline; }
.comments-area article header h4 { position: absolute; top: 0; right: 0; padding: 6px 12px; font-size: 12px; font-weight: normal; color: #fff; background-color: #0088d0; background-repeat: repeat-x; background-image: -moz-linear-gradient(top, #009cee, #0088d0); background-image: -ms-linear-gradient(top, #009cee, #0088d0); background-image: -webkit-linear-gradient(top, #009cee, #0088d0); background-image: -o-linear-gradient(top, #009cee, #0088d0); background-image: linear-gradient(top, #009cee, #0088d0); border-radius: 3px; border: 1px solid #007cbd; }
.comments-area li.bypostauthor cite span { position: absolute; margin-left: 5px; padding: 2px 5px; font-size: 10px; }
a.comment-reply-link, a.comment-edit-link { color: #686868; font-size: 13px; line-height: 1.846153846; }
a.comment-reply-link:hover, a.comment-edit-link:hover { color: #21759b; }
.commentlist .pingback { line-height: 1.714285714; margin-bottom: 24px; }
.author-avatar { float: left; margin-top: 8px; } 
	.author-description { float: right; width: 80%; } 

/* Comment form */
#respond { margin-top: 48px; }
#respond h3#reply-title { color: #444; font-size: 18px; line-height: 1.5; font-weight: normal; font-family: 'Gilda Display', serif; }
#respond h3#reply-title #cancel-comment-reply-link { color: #444; margin-left: 10px; font-weight: normal; font-size: 12px; font-family: 'Source Sans Pro Italic', sans-serif; }
#respond form { margin: 24px 0; padding: 14px; border: 1px solid #ccc; overflow: hidden; background: #ddd url("img/comment_box.jpg") no-repeat scroll left top; -moz-border-radius: 15px; border-radius: 15px; }
#respond form p { margin: 11px 0; }
#respond form p.logged-in-as { margin-bottom: 24px; }
#respond form label { display: block; line-height: 1.714285714; }
#respond form input[type="text"], #respond form textarea { -moz-box-sizing: border-box; box-sizing: border-box; font-size: 12px; line-height: 1.714285714; padding: 10px; width: 100%; }
#respond form p.form-allowed-tags { margin: 0; font-size: 12px; line-height: 2; color: #5e5e5e; }
.required { color: red; }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Widgets %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.widget-area .widget ul ul { margin-left: 12px; }
.widget_rss li { margin: 12px 0; }
.widget_recent_entries .post-date, .widget_rss .rss-date { color: #aaa; font-size: 11px; margin-left: 12px; }
#wp-calendar { margin: 0; width: 100%; font-size: 13px; line-height: 1.846153846; color: #686868; }
#wp-calendar th, #wp-calendar td, #wp-calendar caption { text-align: left; }
#wp-calendar #next { padding-right: 24px; text-align: right; }
.widget_search label { display: block; font-size: 13px; line-height: 1.846153846; }
.widget_twitter li { list-style-type: none; }
.widget_twitter .timesince { display: block; text-align: right; }

.widget-area { padding: 0; }
	.widget-area .widget { margin-bottom: 21px; word-wrap: break-word; }
	.widget-area .widget h3 { margin-bottom: 0; }
	.widget-area .widget p, .widget-area .widget li, .widget-area .widget .textwidget { font-size: 13px; line-height: 1.846153846; }
	.widget-area .widget p { margin-bottom: 24px; }
	.widget-area .textwidget ul { list-style: disc outside; margin: 0 0 24px; }
	.widget-area .textwidget li { margin-left: 36px; }
	.widget-area .widget a { color: #757575; }
	.widget-area .widget a:hover { color: #21759b; }
	.widget-area .s { width: 47%; }

	.widget-area .widget h3 { border-bottom: #777 solid 1px; color: #2020b6; font-size: 18px; padding: 0 5px; text-transform: none; }
	.widget-area .widget ul { list-style: disc; margin-left: 18px; padding: 10px 0 0 0; }
	.widget-area .widget li { margin: 0; line-height: 1.3; }
	.widget-area .widget li a { color: #555; }
	.widget-area .widget li a:hover { color: #2020b6; }
	.widget-area .widget.widget_search { border: 0; border-radius: 0px; }
	
.sidebar_box {  }
	.sidebar_box h3 { border-bottom: #777 solid 1px; color: #2020b6; font-size: 18px; padding: 0 15px; }
	.sidebar_box p { margin: 0; }
	.sidebar_box ul { list-style: disc; margin-left: 18px; padding: 15px; }
	.sidebar_box li { margin: 0; line-height: 1.3; }
	.sidebar_box li a { color: #555; }
	.sidebar_box li a:hover { color: #2020b6; }
	
.sidebar-right .sidebar_box { margin: 15px; line-height: 1.7; }
.sidebar_buttons_wrapper { clear: both; font-size: 20px; line-height: 1.3; margin: 0 0 20px 0; color: #fff; }
	.sidebar_buttons { text-align: center; max-width: 990px; margin: 0 auto; padding: 0; }
		.sidebar_button_wrapper { display: inline-block; margin: 0 0 15px 0; background: #777; border-radius: 30px; width: 94%; }
		.sidebar_button_wrapper:last-child { margin: 0; }
			.sidebar_button { padding: 8px; text-align: left; }
				.sidebar_button a { color: #fff; text-decoration: none; line-height: 1; }
				.sidebar_button a:hover { color: orange; text-decoration: underline; }
				.sidebar_button h3 { margin-top: 0; font-size: 16px; line-height: 1; }
				.sidebar_button img { margin-right: 7px; width: 50px; display: inline-block; vertical-align: middle; }
				.sidebar_button .sidebar_button_text_wrap { display: inline-block; vertical-align: middle; }
				.sidebar_button .cta-button-link { font-size: 12px; }
.sidebar-left .sidebar_box { margin: 15px; line-height: 1.714285714; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Footer %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.cta-banner { clear: both; font-size: 20px; line-height: 1.3; margin: 0; padding: 40px 0; color: #fff; background: #2020B6; text-align: center; text-transform: uppercase; }
	.cta-banner strong { display: block; font-size: 40px; margin: 0; vertical-align: middle; }
	
#colophon { clear: both; font-size: 12px; line-height: 2; margin-top: 0; padding: 40px 0 24px 0; color: #fff; background: #555; }
	.site-footer { max-width: 960px; margin: 0 auto; padding: 0 15px; }
		.site-footer a { color: #fff; }
		.site-footer a:hover { color: #2020B6; }
		.site-footer .site-footer-col { float: left; padding: 0; width: auto; margin: 0 20px 0 0; }
		.site-footer h3 { font-size: 18px; margin-bottom: 5px; }
		.site-footer p { margin-bottom: 15px; font-size: 10px; }
	.site-copyright { clear: both; margin-top: 30px; padding-top: 20px; text-align: center; color: #888; border-top: #444 solid 1px; }
		.site-copyright a { color: #888; }
		.site-copyright a:hover { color: #fff; }
		.site-copyright a:after { content: '\A'; white-space:pre; }
		.site-copyright p { display: inline-block; vertical-align: middle; line-height: 1.5em; margin: 0; padding: 0; }
		.site-copyright ul { display: inline-block; vertical-align: middle; line-height: 1.5em; }
		.site-copyright li { list-style: none; float: left; line-height: 1.5em; margin-left: 10px; padding-left: 10px; border-left: #444 solid 1px; }
		.site-copyright li:first-child { border-left: 0; margin-left: 0; padding-left: 0;  }
		.site-copyright li a { color: #fff; line-height: 1em; }
		.site-copyright li a:hover { color: #fff; text-decoration: underline; }


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Plugins %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* JetPack */
img#wpstats { display: block; margin: 0 auto 24px; }

/* Nivo Slider */
.nivoSlider { margin-top: -2px; max-height: 400px; }
.nivo-caption { background: #2020B6; color: #fff; opacity: 0.65; font-size: 20px; line-height: 1.5em; text-align: center; font-weight: bold; }

/* Contact Form 7 Styles */
.entry-content .wpcf7-form p { margin: 0 0 10px 0; }
.entry-content .wpcf7-form label { width: 95%; font-size: 1em; display: block; font-weight: bold; font-style: italic; }
.entry-content .wpcf7-form-control { width: 95%; }
.entry-content .wpcf7-form img { vertical-align: top; width: auto; height: 23px; display: inline !important; margin-top: 2px; }
.entry-content .wpcf7-form .wpcf7-not-valid-tip { position: absolute; top: -4px; left: -5px; z-index: 100; background: #FEE; border: 1px solid red; font-size: 10pt; width: 100%; padding: 2px 0 2px 0px; height: 23px; color: red; font-weight: bold; white-space: nowrap; margin-left: 5px; border-radius: 4px; }
.entry-content .wpcf7-captchar { width: 68%; }
.entry-content .wpcf7-submit { width: auto; font-size: 1em; line-height: 1em; }
.entry-content .wpcf7-list-item { display: block; }

/* Notifications Bar */
html .notification-bar { display: none; }
html.notifications.top body, html.notifications.top body header { margin: 40px 0 0 0; }
html.notifications .notification-bar { display: block; position: fixed; z-index: 1004; width: 97%; padding: 1.5%; text-align: center; box-shadow: 0 0 10px rgba(0,0,0, 0.35); height: auto; } 
	html.notifications .notification-bar .notification-wrapper { text-align: left; }
	html.notifications .notification-bar h3 { clear: none; margin-bottom: 10px; }
	html.notifications .notification-bar p { clear: none; margin-bottom: 10px; }
	html.notifications.top .notification-bar { top: 0px; }
	html.notifications.bottom .notification-bar { bottom: 0px; }
	html.notifications .notification-bar .close { float: right; margin: 0 0 10px 10px; width: 20px; height: 20px; cursor: pointer; background: url("img/mobile_menu_close.png") no-repeat center center; text-indent: -9999em; opacity: 0.7; } 
	html.notifications .notification-bar .close:hover { opacity: 1; }
	

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Media queries %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

/* Minimum width of 320px pixels. */
@media screen and (max-width: 320px) { }

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	/* General Styles */
	body .site { margin: 0 auto; overflow: hidden; } 
	body #main { margin: 0 auto; width: 100%; max-width: 990px; position: relative; display: table; }
	
	/* Header Styles */
	.site-header .site-logo { width: 100%; max-width: 990px; margin: 0 auto; }
	
	/* Main Navigation Styles */
	.right-arrow, .main-navigation li ul li a.right-arrow { display: none !important; }
	.menu-spacer { width: 85%; padding: 0; margin: 0; line-height: 10px; text-indent: -9999em; }
	.main-navigation { position: relative; position: fixed; top: auto; left: 0; background: #555; }
		.main-navigation h3.menu-toggle { display: none; }
		.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul { position: static; display: inline-block !important; text-align: left; width: 100%; } 
		.main-navigation .nav-menu { position: relative; width: 100%; height: 100%; margin: 0 auto; max-width: 990px; }
		.main-navigation ul { height: auto; background: none; margin: 0; text-indent: 0; } 
		.main-navigation li a, .main-navigation li { display: inline-block; text-decoration: none; } 
		.main-navigation ul li a { background: none; border-bottom: 0; color: #fff; padding: 16px 10px; line-height: 1em; text-transform: uppercase; white-space: nowrap; } 
		.main-navigation ul li a:hover { background: #2020B6; color: #eee; } 
		.main-navigation ul li { margin: 0; padding: 0; position: relative; } 
		.main-navigation ul li:last-child { border-right: 0; } 
		.main-navigation ul li ul { display: none; margin: 0; padding: 0 !important; position: absolute; top: 100%; left: -5px; z-index: 1; } 
		.main-navigation ul li ul ul { top: 0; left: 100%; } 
		.main-navigation ul li:hover > ul { border-left: 0; display: block !important; padding: 0 !important; } 
		.main-navigation ul li ul li { margin: 0; padding: 0; border: 0; }
		.main-navigation ul li ul li a { background: #888; color: #fff; border-bottom: 1px solid #ccc; display: block !important; padding: 10px 20px; width: 180px; white-space: normal; text-transform: none; font-weight: 300; } 
		.main-navigation ul li ul li a:hover { background: #2020B6; color: #fff; } 
		.main-navigation ul li ul li ul li a { background: #888; color: #fff; padding: 7px; }
		.main-navigation ul li ul li ul li a:hover { background: #2020B6; color: #fff; }
		.main-navigation ul li ul li ul li ul li a { background: #888; color: #fff; padding: 7px; }
		.main-navigation ul li ul li ul li ul li a:hover { background: #2020B6; color: #fff; }
		.main-navigation h3.my-account-toggle { display: none; }
		.main-navigation .menu-my-account { display: none; }
	
	/* Main Content Area Styles */
	.site-content { width: 66%; vertical-align: top; } 
		.site-content #content { padding: 0; }
	.sidebar-right, .sidebar-left { vertical-align: top; }
		.sidebar-right .sidebar_box { margin: 0; line-height: 1.714285714; }
		.sidebar-left .sidebar_box { margin: 0; line-height: 1.714285714; }
	.sidebar_button { text-align: center; }
		.sidebar_button_wrapper { width: 98%; }
		.sidebar_button .sidebar_button_text_wrap { display: block; }
	body.template-front-page .site-content, body.single-attachment .site-content, body.full-width .site-content { width: 100%; } 
	
	.entry-header .entry-title { font-size: 22px; } 
		.entry-page-image { float: right; margin-bottom: 0; width: 47.916666667%; } 
	
	#respond form input[type="text"] { width: 46.333333333%; } 
		#respond form textarea.blog-textarea { width: 79.666666667%; } 
		
	.nivo-caption { font-size: 50px; }
	
	/* Sidebar Styles */ 
	.widget-area .s { width: 55%; }
	body.blog .widget-area, body.search .widget-area, body.archive .widget-area, body.single .widget-area { width: auto; }
	
	/* Temmplate Layouts */
	body.template_c .site-content { width: 100%; padding: 2% 0; }
	
	body.template_cs .site-content { width: 70%; padding: 2%; display: table-cell; }
	body.template_cs .sidebar-right { width: 30%; padding: 2%; display: table-cell; } 
	
	body.template_sc .sidebar-left { width: 30%; padding: 2%; display: table-cell; } 
	body.template_sc .site-content { width: 70%; padding: 2%; display: table-cell; }
	
	body.template_scs .sidebar-left { width: 25%; padding: 2%; display: table-cell; } 
	body.template_scs .site-content { width: 50%; padding: 2% 0; display: table-cell; }
	body.template_scs .sidebar-right { width: 25%; padding: 2%; display: table-cell; } 

	/* Footer */
	.site-footer .site-footer-col { float: left; margin: 0 0 0 2%; margin-right: 0; }
		.site-footer .site-footer-col:first-child { margin: 0; }
		.site-footer .site-footer-col:last-child { margin: 0 0 0 2% }
	.site-copyright a:after { content: ''; white-space: normal; }
		.site-copyright p { line-height: 3em; }
		.site-copyright ul { line-height: 3em; }
		.site-copyright li { line-height: 3em; margin-left: 20px; padding-left: 20px; }
		.site-copyright li:first-child { border-left: #444 solid 1px; margin-left: 20px; padding-left: 20px; }
	
	/* Home page styles */
	.home_page_banner { font-size: 30px; }
		.home_page_banner strong { font-size: 60px; margin: 0 40px; }
	.home_page_button_wrapper { margin: 0 0 0 2%; float: left; }
		.home_page_button_wrapper:first-child { margin: 0; }
		.home_page_button_wrapper:last-child { margin: 0 0 0 2% }
			.home_page_button { padding: 20px; }
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
	/* Main Navigation Styles */
	.main-navigation ul li a { padding: 15px; font-size: 15px; } 
	/* Main Content Area Styles */
	.sidebar_button { text-align: left; }
	.sidebar_button .sidebar_button_text_wrap { display: inline-block; }
	/* Home page styles */
	.home_page_banner strong { display: inline-block; }
	.home_page_buttons_wrapper { padding: 40px 2%; }
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% IE Styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

html.has-ie {  }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%% Print %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media print { 
	body { background: none !important; color: #000; font-size: 10pt; } 
	footer a[rel=bookmark]:link:after, footer a[rel=bookmark]:visited:after { content: " [" attr(href) "] "; /* Show URLs */ } 
	a { text-decoration: none; } 
	.entry-content img, .comment-content img, .author-avatar img, img.wp-post-image { border-radius: 0; box-shadow: none; } 
	.site { clear: both !important; display: block !important; float: none !important; max-width: 100%; position: relative !important; } 
	.site-header { margin-bottom: 72px; text-align: left; } 
	.site-header .site-title { font-size: 21pt; line-height: 1; text-align: left; } 
	.site-header .site-description { color: #000; font-size: 10pt; text-align: left; } 
	.site-header .site-title a, .site-header .site-description a { color: #000; } 
	.author-avatar, .site-footer, #respond, .commentlist .comment-edit-link, .commentlist .reply, .entry-header .comments-link, .entry-meta .edit-link a, .page-link, .site-content nav, .widget-area, img.header-image, .main-navigation { display: none; } 
	.wrapper { border-top: none; box-shadow: none; } 
	.site-content { margin: 0; width: auto; } 
	.singular .entry-header .entry-meta { position: static; } 
	.singular .site-content, .singular .entry-header, .singular .entry-content, .singular footer.entry-meta, .singular .comments-title { margin: 0; width: 100%; } 
	.entry-header .entry-title, .entry-title, .singular .entry-title { font-size: 21pt; } 
	footer.entry-meta, footer.entry-meta a { color: #444; font-size: 10pt; } 
	.author-description { float: none; width: auto; }
 	/* Comments */
 	.commentlist > li.comment { background: none; position: relative; width: auto; } 
 	.commentlist .avatar { height: 39px; left: 2.2em; top: 2.2em; width: 39px; } 
 	.comments-area article header cite, .comments-area article header time { margin-left: 50px; } 
}