/**
 * CSS Styles used on the WPMUDEV Dashboard pages.
 *
 * Note:
 * This file is only loaded on the Dashboard pages!
 *
 * On all Dashboard pages the class "wpmud" is set in the body tag.
 *
 * -----------------------------------------------------------------------------
 *
 * 1. PROJECT-ELEMENTS (Plugins/Themes)
 * 2. COMMON PAGE ELEMENTS
 * 3. PAGE: LOGIN
 * 4. PAGE: DASHBOARD
 * 5. PAGE: PLUGINS/THEMES
 * 6. PAGE: SUPPORT
 * 7. PAGE: SETTINGS
 * 8. POPUP: PROJECT INFO, UPDATE INFO
 *
 * -----------------------------------------------------------------------------
 */

/* ****************************************************************************
 * 1. PROJECT-ELEMENTS (Plugins/Themes)
 */
.wpmud .project-box {
	width: 25%;
	max-width: 360px;
	min-width: 300px;
	float: left;
	position: relative;
}
.wpmud .row.row-projects {
	width: auto;
	display: block;
	overflow: hidden;
}
.wpmud .row-projects .row-sep {
	position: relative;
	z-index: 1;
}
.wpmud .row-projects .row-sep .button,
.wpmud .row-projects .row-sep .button:before,
.wpmud .row-projects .row-sep .button:after {
	background: #F4F4F4;
}
.wpmud .row-projects .row-sep.fixed .button,
.wpmud .row-projects .row-sep.fixed .button:before,
.wpmud .row-projects .row-sep.fixed .button:after,
.wpmud .row-projects .row-sep.fixed,
.wpmud .row-projects .row-sep.fixed:after {
	background: #F8F8F8;
}
.wpmud .row-projects .row-sep .project-toggle .expand,
.wpmud .row-projects.expanded .row-sep .project-toggle .collapse {
	display: block;
}
.wpmud .row-projects .row-sep .project-toggle .collapse,
.wpmud .row-projects.expanded .row-sep .project-toggle .expand {
	display: none;
}
.wpmud .row.row-projects .no-content {
	display: none;
	text-align: center;
	padding: 20px;
	font-style: italic;
}
.wpmud .row.row-projects .content {
	position: relative;
	overflow: hidden;
	height: 500px;
	z-index: 2;
	margin-right: -30px;
}
.wpmud .row.row-projects .content-inner:after {
	content: '';
	display: table;
	clear: both;
}
.wpmud .row.row-projects.expanded .content {
	height: auto;
}
.wpmud .row.row-projects.collapsed {
	height: 0;
}
.wpmud .row.row-projects.empty.hide-empty {
	display: none;
}
.wpmud .row.row-projects.empty .content {
	display: none;
}
.wpmud .row.row-projects.empty .no-content {
	display: block;
}
.wpmud .project-box .project-inner {
	background: #FFF;
	border-radius: 5px;
	margin: 0 30px 30px 0;
	box-shadow: 0 2px 0 #EAEAEA;
	position: relative;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}
.wpmud .project-box h4 {
	text-align: left;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 60px;
	line-height: 60px;
	padding: 0 0 0 30px;
	margin: 0;
	text-transform: none;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	cursor: pointer;
	border-bottom: 1px solid #F1F1F1;
}
.wpmud .project-box .show-info.loading:before {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.75);
	z-index: 1;
	width: auto;
	height: auto;
	background-size: 18px;
}
/* http://loading.io/loader/?use=eyJzaXplIjoyNCwic3BlZWQiOjEsImNiayI6IiNkZGRkZGQiLCJjMSI6IiNjY2NjY2MiLCJjMiI6IjciLCJjMyI6IjEwIiwiYzQiOiJ5LWF4aXMiLCJ0eXBlIjoic3BpbiJ9 */	 	 	 		 		 	   		 
.wpmud .project-box .project-image > .img {
	display: block;
	width: 100%;
	height: 162px;
	vertical-align: top;
	background-color: #DDD;
	background-repeat: no-repeat, no-repeat;
	background-position: center, center;
	background-size: cover, auto;
	transition-property: opacity;
	transition-duration: 0.3s;
}
.wpmud .project-box .project-info {
	padding: 20px 30px 0;
	text-align: left;
	height: 126px;
	overflow: hidden;
	border-top: 1px solid #F1F1F1;
}
.wpmud .project-box .project-image {
	position: relative;
	background: rgb(20, 72, 95);
	cursor: pointer;
}
.wpmud .project-box .project-image:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 30px;
	background: #FDCE43;
	z-index: 1;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}
.wpmud .project-box .project-image:after {
	content: "\f054";
	font-family: FontAwesomeWdv;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	line-height: 28px;
	font-size: 24px;
	left: 50%;
	top: 50%;
	width: 24px;
	height: 24px;
	margin: -10px 0 0 -10px;
	color: #FFF;
	z-index: 2;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}
.wpmud .project-box .project-action {
	text-align: center;
	padding: 20px 30px;
}
.wpmud .project-box .project-minor {
	text-align: center;
	padding: 0 30px 30px;
	height: 52px;
}
.wpmud .project-box .badge {
	width: 100px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	padding: 16px;
	color: #FFF;
	z-index: 2;
	overflow: hidden;
	border-radius: 0 5px 0 0;
	font-size: 20px;
}
.wpmud .project-box .badge:before {
	content: '';
    background: #FDCE43;
    position: absolute;
    width: 150px;
    height: 69px;
    top: 0;
    right: 0;
    transform: rotate(45deg) translateX(50%) translateY(0);
    transform-origin: top right;
    z-index: 0;
}
.wpmud .project-box .badge.badge-warning:before {
	background: #fd6e70;
}
.wpmud .project-box .badge.badge-active-theme:before {
	background: #00ACCA;
}
.wpmud .project-box .badge > * {
	position: relative;
	z-index: 1;
}
.wpmud .project-box .badge .dev-icon {
	font-size: 20px;
}
.wpmud .project-box .project-inner:hover {
	box-shadow: 0 2px 0 #EAEAEA, 0 1px 3px rgba(0, 0, 0, 0.2);
}
.wpmud .project-box .project-inner:hover h4 {
	color: #525252;
}
.wpmud .project-box .project-inner:hover .project-image > .img {
	opacity: 0.15;
}
.wpmud .project-box .project-inner:hover .project-image:before,
.wpmud .project-box .project-inner:hover .project-image:after {
	opacity: 1;
}
@media screen and (min-width: 900px) and (max-width: 1099px) {
	.wpmud .project-box {
		width: 33.3333%;
	}
}
@media screen and (min-width: 635px) and (max-width: 899px) {
	.wpmud .project-box {
		width: 50%;
	}
}
@media screen and (max-width: 634px) {
	.wpmud .project-box {
		width: 100%;
	}
}


/* ****************************************************************************
 * 2. COMMON PAGE ELEMENTS
 */
.wpmud .icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #F4F4F4;
	overflow: hidden;
}
.wpmud .icon.icon-big {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
.wpmud .icon.icon-support {
	background: transparent url(../image/support.png) center center no-repeat;
}

.wpmud .dialog-upgrade .usp {
	margin: 20px 0 30px;
}
.wpmud .dialog-upgrade .dev-man {
	text-align: center;
	margin-bottom: -40px;
	margin-top: 20px;
}
.wpmud .dialog-upgrade .dev-man img {
	vertical-align: bottom;
}
.wpmud .dialog-upgrade .below-dev-man {
	margin-top: 40px;
	padding-top: 15px;
	margin-bottom: -20px;
	border-top: 1px solid #E5E5E5;
	text-align: center;
}
.wpmud .section-title {
	text-transform: uppercase;
	text-align: left;
	display: block;
	width: auto;
	max-width: none;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px;
}
.wpmud .section-title .count {
	float: right;
}

.wpmud .refresh-infos,
.wpmud .refresh-infos {
	text-align: center;
	margin: 40px 0;
	font-size: 14px;
}
.wpmud .refresh-infos .wdv-icon,
.wpmud .refresh-infos .wdv-icon {
	height: 18px;
	line-height: 18px;
}
.wpmud .refresh-infos strong,
.wpmud .refresh-infos strong {
	font-weight: 400;
}

.dev-overlay .dev-error .the-hero {
	position: absolute;
	color: #EEE;
	z-index: -1;
	bottom: -10px;
	left: -45px;
	text-align: left;
}
.dev-overlay .dev-error .the-hero .dev-icon {
	font-size: 160px;
}

/* ****************************************************************************
 * 3. PAGE: LOGIN
 */
.wpmud #login h1 {
	margin-top: 50px;
	font-size: 48px;
}
.wpmud #login .login-box {
	width: 420px;
	margin: 0 auto;
}
.wpmud #login .login-image {
	height: 256px;
	background: transparent url(../image/devman.svg) center bottom no-repeat;
}
.wpmud #login .buttons {
	text-align: right;
}
.wpmud #login .buttons .button-text {
	text-transform: none;
	font-weight: 400;
	font-size: 14px;
}
.wpmud #login .right {
	float: right;
}

/* ****************************************************************************
 * 4. PAGE: DASHBOARD
 */
.wpmud.wpmud-dashboard #header h1 {
	padding-left: 120px;
	padding-top: 10px;
}
.wpmud #subheader .photo-wrap {
	margin-top: -52px;
	margin-right: 21px;
	float: left;
}
.wpmud #subheader .photo {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
	margin: 0;
	border-radius: 50px;
	background: #e5e5e5;
}
.wpmud #subheader .photo:before {
	content: "\f110";
	position: absolute;
	top: 10px;
	left: -10px;
	width: 120px;
	height: 120px;
	color: #FFF;
	font-size: 120px;
	line-height: 100px;
	font-family: "dashicons";
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: bottom;
	text-align: center;
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 0;
}
.wpmud #subheader .photo img {
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: none;
	position: relative;
	z-index: 1;
}
.wpmud .quick-links {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
}
.wpmud .quick-links > li {
	display: table-row; /* table-row is needed so the cell stretches the full width */
}
.wpmud .quick-links > li > div {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
	position: relative;
	padding: 0 0 0 70px;
}
.wpmud .quick-links .icon {
	position: absolute;
	top: 5px;
	left: 0;
	text-align: center;
	line-height: 60px;
}
.wpmud .quick-links .icon .dev-icon {
	font-size: 30px;
	line-height: 60px;
}
.wpmud .search-box.project-search .search-results .desc {
	display: block;
	margin-left: 16px;
	color: #999;

	transition-property: color;
	transition-duration: 0.3s;
}
.wpmud .search-box.project-search .input-box {
	width: 100%;
}
.wpmud .search-box.project-search .search-results .item:hover .desc {
	color: #666;
}

/* ****************************************************************************
 * 5. PAGE: PLUGINS/THEMES
 */
.wpmud.wpmud-plugins .select-container.sel-sort,
.wpmud.wpmud-plugins .select-container.sel-category,
.wpmud.wpmud-themes .select-container.sel-sort,
.wpmud.wpmud-themes .select-container.sel-category {
	width: 180px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
}
.wpmud.wpmud-plugins label[for=sel_category],
.wpmud.wpmud-themes label[for=sel_category] {
	padding-left: 30px
}
.wpmud.wpmud-themes .row.row-projects .content {
	height: auto;
}
.wpmud.wpmud-themes .project-box {
	width: 50%;
	max-width: none;
}
.wpmud.wpmud-themes .project-box .project-image > .img {
	height: 360px;
}
.wpmud.wpmud-themes .project-box .project-info {
	height: 86px;
}

/* ****************************************************************************
 * 6. PAGE: SUPPORT
 */
.wpmud.wpmud-support #header h1 .title-function {
	margin-left: 20px;
}
.wpmud.wpmud-support .active-staff-access {
	font: 500 15px/20px 'Roboto';
	color: #FFF;
	text-shadow: 0 1px rgba(0,0,0,0.15);
	padding: 20px;
	height: auto;
	display: block;
	margin: 0;
	border: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #1ABC9C;
}
.wpmud.wpmud-support .staff-notes {
	font: 500 15px/20px 'Roboto';
	padding: 20px;
	display: block;
	margin: 20px 0 0;
	border: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #F4F4F4;
}
.wpmud.wpmud-support .staff-notes:after {
	content: '';
	display: table;
	clear: both;
}
.wpmud.wpmud-support .staff-notes.active {
	box-shadow: 0 0 0 3px #1ABC9C inset, 0 1px 3px 1px rgba(0,0,0,0.2);
}
.wpmud.wpmud-support .staff-notes textarea {
	min-height: 100px;
}
.wpmud.wpmud-support .staff-notes.active textarea {
	color: #333;
}
.wpmud.wpmud-support .my-tickets h4 {
	font-size: 20px;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	margin-bottom: 20px;
}

/* ****************************************************************************
 * 7. PAGE: SETTINGS
 */
.wpmud .wrap-settings .box-membership h4 {
	font-family: 'Roboto Condensed';
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 1.5em;
}
.wpmud .wrap-settings .box-membership .status-ok {
	color: #1ABC9C;
	margin-left: 8px;
}
.wpmud .wrap-settings .box-membership .status-ok.dev-icon,
.wpmud .wrap-settings .box-membership .status-ok .dev-icon {
	font-size: 20px;
	line-height: 20px;
	vertical-align: text-bottom;
}
.wpmud .wrap-settings .subscription-detail {
	margin-bottom: 5px;
}
.wpmud .wrap-settings .subscription-detail .label {
	color: #999;
	margin-right: 4px;
	display: inline-block;
}
.wpmud .wrap-settings .subscription-detail .value {
	color: #666;
	font-weight: bold;
}
.wpmud .wrap-settings .subscription-detail + .buttons {
	margin-top: 20px;
}
.wpmud .wrap-settings .apikey {
	margin-top: 15px
}
.wpmud .dev-list.userlist > li .list-label .avatar {
	border-radius: 20px;
	vertical-align: middle;
	margin-right: 10px;
}
.wpmud .search-box.user-search .input-box {
	width: 100%;
}
.wpmud .search-box.user-search .thumb {
	border-radius: 20px;
}
.wpmud .search-box.user-search .email:before {
	content: '(';
}
.wpmud .search-box.user-search .email:after {
	content: ')';
}
.wpmud .search-box.user-search .email {
	font-size: 13px;
	color: #777771;
}

 /* ****************************************************************************
  * 8. POPUP: PROJECT INFO, UPDATE INFO
  */
.wdp-update,
.wdp-changelog,
.wdp-info {
	font-size: 15px;
	line-height: 1.5;
	color: #777771;
}
.wdp-info .slider {
	float: left;
	width: 400px;
	height: 330px;
	position: relative;
	overflow: hidden;
}
.wdp-info .slider.no-nav {
	height: 250px;
}
.wdp-info .slider-big,
.wdp-info .slider-nav {
	position: absolute;
	left: 0;
	white-space: nowrap;
	margin: 0;

	transition-property: margin;
	transition-duration: 0.5s;
}
.wdp-info .slider.no-nav .slider-nav-wrapper {
	display: none;
}
.wdp-info .slider-big {
	top: 0;
	width: 400px;
	height: 250px;
}
.wdp-info .slider-big li,
.wdp-info .slider-nav li {
	height: 100%;
	margin: 0;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.wdp-info .slider-big li {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #edefed;
    box-sizing: border-box;
}
.wdp-info .slider-nav {
	top: 0;
	height: 64px;

	transition-property: left;
	transition-duration: 0.5s;
}
.wdp-info .slider-nav li {
	width: 100px;
	margin: 0 4px 0 0;
	cursor: pointer;
}
.wdp-info .slider-big li > span,
.wdp-info .slider-nav li > span {
	display: block;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wdp-info .slider-big li > .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	text-align: center;
	padding: 5px;
	background: rgba(255,255,255,0.8);
	line-height: 1;
	color: #000;
	font-size: 14px;
	border-top: 1px solid #edefed;
	margin-bottom: -100px;

	transition-property: margin;
	transition-duration: 0.3s;
}
.wdp-info .slider-big li:hover > .desc {
	margin-bottom: 0;
}
.wdp-info .slider-nav-wrapper {
	position: absolute;
	height: 64px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 25px;
	padding: 0;
}
.wdp-info .slider-nav-items {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.wdp-info .slider-nav li > span {
	border-radius: 4px;
	overflow: hidden;
}
.wdp-info .slider-nav li > span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: #0093B1;
	border-radius: 4px;

	transition-property: opacity;
	transition-duration: 0.3s;
}
.wdp-info .slider-nav li:hover > span:before {
	opacity: 0.3;
}
.wdp-info .slider-nav li.current > span:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 0 2px #0093B1 inset;
	border-radius: 4px;
}
.wdp-info .slider-nav-wrapper .nav {
	width: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: #FFF;
	text-align: center;
	line-height: 64px;
	cursor: pointer;
}
.wdp-info .slider-nav-wrapper .nav-left {
	left: -25px;
}
.wdp-info .slider-nav-wrapper .nav-right {
	right: -25px;
}
.wdp-info section {
	box-sizing: border-box;
}
.wdp-info section p {
	line-height: 1.75;
}
.wdp-info section h3 {
	border-bottom: 1px solid #E5E5E5;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 20px 0;
}
.wdp-info .overview {
	float: left;
	width: 360px;
	padding: 0 30px;
}
.wdp-info .features {
	clear: both;
}
.wdp-info .features ul {
	float: left;
	width: 50%;
	position: relative;
	margin: 0;
}
.wdp-info .features li {
	padding: 5px 20px 5px 34px;
	position: relative;
	box-sizing: border-box;
}
.wdp-info .features li .dev-icon {
	color: #1ABC9C;
	font-size: 22px;
	position: absolute;
	left: 0;
	top: 3px;
}
.wdp-info .row-sep {
	margin-bottom: 10px;
}
.wdp-info .row-sep .button {
	width: 220px;
}

.wdp-update .update-complete {
	text-align: center;
	font-weight: bold;
	margin: 10px 0 -20px;
	background: #FDCE43;
	padding: 5px;
	border-radius: 5px;
	color: #FFF;
	font-size: 13px;
	text-shadow: 0 -1px 0 #DDAE30;
	cursor: default;
}
.wdp-update .update-infos {
	width: 100%;
	padding: 0;
	margin: 0;
}
.wdp-update .update-infos th {
	font-size: 14px;
	color: #AAA;
	text-transform: uppercase;
	text-align: left;
	padding: 0 0 15px;
}
.wdp-update .update-infos td {
	padding: 0 0 20px;
	font-size: 15px;
	color: #777771;
	font-weight: bold;
}
.wdp-update .update-infos .col-1,
.wdp-update .update-infos .col-2 {
	width: 40%;
}
.wdp-update .update-infos .col-3 {
	width: 20%;
}
.wdp-update .update-infos .col-notes {
	font-weight: normal;
	padding-bottom: 0;
}
.wdp-update .update-infos .col-notes ul {
	list-style: disc;
	padding: 0 0 0 20px;
	margin: 0;
}
.wdp-update .update-infos .col-notes ul li {
	padding: 3px 0 3px 20px;
	margin: -1px 0 0;
	color: #777771;
	cursor: default;

	transition-property: border, background, color;
	transition-duration: 0.3s;
}
.wdp-update .update-infos .col-notes ul li:hover {
	color: #333;
    background: #FBFBFB;
}
.wdp-update span.show-project-changelog.loading:before {

}

.wdp-changelog {
	max-height: 600px;
	overflow: auto;
}
.wdp-changelog .versions {
	padding: 0;
	margin: 0;
}
.wdp-changelog .versions h4 {
	font-size: 15px;
	text-transform: uppercase;
	text-align: left;
	padding: 0 0 15px;
	font-weight: bold;
	line-height: 20px;
}
.wdp-changelog .versions h4 small {
	color: #999;
	text-transform: none;
	font-weight: 400;
}
.wdp-changelog .versions > li.new {
	background: #fffff6;
}
.wdp-changelog .versions > li {
	border-bottom: 1px solid #E5E5E5;
	padding: 40px;
	margin: 0;
}
.wdp-changelog .versions > li:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}
.wdp-changelog .versions .changes {
	list-style: disc;
	padding: 0 0 0 20px;
	margin: 0;
}
.wdp-changelog .versions .changes li {
	padding: 3px 0 3px 20px;
	margin: 0;
	color: #777771;
	cursor: default;
}
.wdp-changelog .new-version,
.wdp-changelog .current-version {
	border-radius: 5px;
	color: #FFF;
	cursor: default;
	display: inline-block;
	position: relative;
	top: -2px;
	margin: 0 0 0 10px;
	padding: 1px 5px;
	font-size: 10px;
	line-height: 20px;
	height: 20px;
	box-sizing: border-box;
}
.wdp-changelog .new-version {
	background: #FDCE43;
	text-shadow: 0 1px 1px #DDAE30;
}
.wdp-changelog .current-version {
	background: #00ACCA;
	text-shadow: 0 1px 1px #008CAA;
}

.wdp-error-msg,
.wdp-success-msg {
	padding: 30px;
	text-align: center;
}


/* 350927-1459442947 */